<div class="login-page" [@routerTransition]>
  <div class="">
    <div class="content shadow-sm position-relative">
      <header class="header">
        <!-- Fixed navbar -->
        <nav class="container-fluid">
          <div class="row">
            <div class="col align-self-center">
              <a href="" class="logo text-white">
                <img src="assets/images/indtrack_R_logo.png" style="width: 200px;"
                  title="Welcome to IndTrack- India's Leading GPS Solution provider | Vehicle Tracking System | Low Cost GPS Tracking | Sturdy VTS | Tracking On own GIS Map,Bing Map|Fuel Monitoring System"
                  class="logo-icon" />
              </a>
            </div>
          </div>
        </nav>
      </header>
      <div class="background opac blur" style="background-image:url('assets/images/login_pagebg.jpeg'); height:720px;   background-position: center;
      background-repeat: no-repeat; background-size: cover;">
      </div>

      <!-- Main container starts -->
      <div class="container main-container" id="main-container">
        <div class="row login-row-height">
          <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
          <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center" >
            <div class="card border-0 shadow-lg blur">
              <div class="card-body py-5">
                <img src="assets/images/indlogo.png" class="btn btn-primary  btn-rounded-circle shadow chat-btn"
                  title="Welcome to IndTrack- India's Leading GPS Solution provider | Vehicle Tracking System | Low Cost GPS Tracking | Sturdy VTS | Tracking On own GIS Map,Bing Map|Fuel Monitoring System" />

                <span id="backbutton" (click)="gotoBack();" style="float: right; margin-top: -34px;cursor: pointer;"> <img
                    src="assets/images/Back-Button.png" width="30" height="30"></span>
                <!-- <p class="font-weight-normal welcometext margin-bottom:20px">Forgot Password </p> -->
                <p class="font-weight-normal text-warning mb-4" style="color: rgb(230, 245, 98) !important;
                                  font-size: 17px;font-weight: bold !important;">Forgot Password</p>


                <!-- <p class="font-weight-normal text-warning mb-4" style="color: #fff !important;font-size: 14px;">
                  xyz@gmail.com </p> -->


                <div *ngIf="requestOTPForm">
                  <form novalidate #loginForm="ngForm">
                    <div class="field-wrapper">
                      <input type="text" name="loginmobile" [(ngModel)]="forgetPassword.mobile" #mobileCtrl="ngModel"
                        placeholder="Enter Mobile Number Here" class="mb-3" onkeypress="return isNumberKey(event)"
                        (keyup)="isLoginIdTrue =false;WrongMobile=false" required>

                      <div id="randowmNumber" disabled>{{randomNumber}}<span class="material-icons"
                          (click)="changeRandomNumber()"> cached </span></div>


                      <!-- <input type="text" name="captcha" [(ngModel)]="forgetPassword.captcha"
                        placeholder="Enter Login ID" class="mb-3 mt-3" placeholder="Enter Capcha Here"
                        #captchCtrl="ngModel" required> -->
                      <input type="text" name="checkNumber" id="randomNumberId" onkeypress="return isNumberKey(event)"
                        (keyup)="isCaptchaTrue=false;isCaptchaValid=false" (keydown.enter)="RequestOTP();"
                        [(ngModel)]="forgetPassword.captcha" placeholder="Enter captcha">


                      <small *ngIf="isLoginIdTrue" class="text-danger">Please Enter Mobile Number</small> <br>
                      <small *ngIf="isCaptchaTrue" class="text-danger">Please Enter Captcha</small>
                      <small *ngIf="isCaptchaValid" class="text-danger"> Captcha Is Not Valid</small>
                      <small *ngIf="WrongMobile" class="text-warning"> <br><b> Email or Mobile not registered
                          <!--{{repsonseMessage}}-->
                        </b></small>


                      <!-- <div class="field-placeholder"><span></span></div> -->
                    </div>
                    <span style="font-size: x-small;text-align: left;">By clicking on button an OTP is sent to
                      respective
                      email id as well as your mobile number</span>
                    <div class="mb-1">
                      <button class=" btn btn-primary btn-center" (click)="RequestOTP()">Send OTP
                        <i class="material-icons md-18">arrow_forward</i></button>
                      <!-- <button class=" btn btn-primary btn-block" (click)="SendOTP()" [disabled]="!ifIdValid">send
                        otp
                        <i class="material-icons md-18">arrow_forward</i></button> -->
                    </div>
                  </form>
                </div>

                <div *ngIf="resetPasswordForm">
                  <form novalidate #changePasswordForm="ngForm">
                    <div class="field-wrapper">

                      <input type="text" name="otp" [(ngModel)]="forgetPassword.otp" placeholder="Enter otp"
                        (keyup)="otpBlank=false" #otpCtrl="ngModel" required class="mt-3 " required>
                      <span class="text-danger " *ngIf="(otpCtrl.touched || submitted) && otpCtrl.errors?.required">
                        otp is required</span>

                      <input type="password" name="newPassword" [(ngModel)]="forgetPassword.newPassword" class="mt-3"
                        (keyup)="newPassBlank=false;passnotMatch=false" #newPasswordCtrl="ngModel"
                        placeholder="Enter New Password" required>
                      <span class="text-danger "
                        *ngIf="(newPasswordCtrl.touched || submitted) && newPasswordCtrl.errors?.required">
                        new password is required</span>

                      <input type="password" name="confPassword" [(ngModel)]="forgetPassword.cPassword" class="mt-3"
                        (keyup)="confPassBlank = false;passnotMatch=false" #cPasswordCtrl="ngModel"
                        placeholder="confirm new password Password" required>
                      <span class="text-danger "
                        *ngIf="(cPasswordCtrl.touched || submitted) && cPasswordCtrl.errors?.required">
                        confirm password is required</span>
                    </div>

                    <div class="mb-1">
                      <small class="text-danger" *ngIf="otpBlank"><b>OTP Is Blank </b></small>

                      <small class="text-danger" *ngIf="newPassBlank"><b> New Password Is Blank </b></small>
                      <small class="text-danger" *ngIf="confPassBlank"><b> Confirm Password is blank </b></small>
                      <small class="text-danger" *ngIf="passnotMatch"><b> Password did not match </b></small>
                      <span class="text-danger"><b> {{loginMessage}} </b></span>


                      <br>
                      <button type="submit" class="mt-3 btn btn-success" (click)="checkSetResetPassword()">Change
                        password
                        <i class="material-icons md-18">arrow_forward</i></button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main container ends -->
    </div>
    <footer class="footer d-block" style="margin-top:0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md text-center text-md-left align-self-center">
            <p>All rights reserved by <a href="">IndTrack</a></p>
          </div>
          <div class="col-12 col-md-auto text-right text-md-right">
            <ul class="nav navbar-right">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Terms of use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>