<div [@routerTransition]>
    
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="mb-4">               
                <div  class="row"  >
                    <div class="col-6">&nbsp;</div>
                    <div class="col-3" style="  float: left; font-size: 11px; background-image: linear-gradient(#0361db, #014297); border-top: 1px solid #fff;border-left: 1px solid #fff; ">
                        <p style = "text-align: left; color: white;  " title="Installed Devices">465</p>
                        <hr style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;  margin-top: -49%;  ">
                        <p style=" text-align: right;  margin-top: -29%; "  title="Toal Devices">600</p>
                    </div>
                    <div class="col-3" style=" font-size: 11px; float: left; background-image: linear-gradient(#90c8fc, #56adfd); border-top: 1px solid rgb(255, 255, 255);
                            border-right: 1px solid #fff; color: #012e69; font-weight: bold; text-align: left;">
                        Total Devices
                    </div>
                </div>                    
            
                <div class="row" >
                    <div class="col pl-0" >                             
                        <div class="row" style=" padding-left: 9%; ">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style=" border: 1px solid #fff;" >
                        <div  class="row"  >
                            <div class="col-4" style=" float: left; font-size: 11px; padding-left: 13%; background-image: linear-gradient(#0361db, #014297) ">
                                <p style=" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;">
                                <p style=" text-align: right; height: 21px; margin-top: -29%;" title="Toal Devices" >600</p>
                            </div>
                            <div class="col-4" style=" font-size: 11px; float: left; background-image: linear-gradient(#0361db8e, #0142976c) ">
                                <p style =" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;" >
                                <p style=" text-align: right; height: 21px; margin-top: -29%; " title="Toal Devices" >600</p>
                            </div>
                            <div class="col-4" style=" font-size: 11px; float: left; background-image: linear-gradient(#0361db, #014297) ">
                                <p style=" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;" >
                                <p style=" text-align: right; height: 21px; margin-top: -29%; " title="Toal Devices" >600</p>
                            </div>
                        </div>
                        <div class="row" style=" background-image: linear-gradient(#90c8fc, #56adfd); color: #012e69; font-size: 11px; font-weight: bold; text-align: center; " >
                            <div class="col-4" style=" float: left; padding-left: 13%; ">
                                <p class="">BASIC</p>
                            </div>
                            <div class="col-4" style=" float: left; ">
                                <p class="">AIS-140</p>
                            </div>
                            <div class="col-4">
                                <p class="">STOCK</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="mb-4">               
                <div  class="row"  >
                    <div class="col-6">&nbsp;</div>
                    <div class="col-2" style="  float: left; font-size: 11px; background-image: linear-gradient(#F54265, #f3113e); border-top: 1px solid #fff;border-left: 1px solid #fff; ">
                        <p style = "text-align: left; color: white; margin-top: 7px; " title="Installed Devices">465</p>
                    </div>
                    <div class="col-4" style=" font-size: 11px; float: left; background-image: linear-gradient(#f87891, #f8bbc7); border-top: 1px solid rgb(255, 255, 255);
                            border-right: 1px solid #fff; color: #690101; font-weight: bold; text-align: left;">
                        Maintenance Devices
                    </div>
                </div>                    
            
                <div class="row" >
                    <div class="col pl-0" >                             
                        <div class="row" style=" padding-left: 9%; ">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style=" border: 1px solid #fff;" >
                        <div  class="row"  >
                            <div class="col-6" style=" float: left; font-size: 11px; padding-left: 13%; background-image: linear-gradient(#F54265, #f3113e) ">
                                <p style=" text-align: center; color: white; height: 45px; " title="Installed Devices" ><span><br>465</span></p>
                            </div>
                            <div class="col-6" style=" font-size: 11px; float: left; background-image: linear-gradient(#f13a5fd2, #dd0933d3) ">
                                <p style =" text-align: center; color: white; height: 45px; " title="Installed Devices" ><span><br>465</span></p>                                
                            </div>
                        </div>
                        <div class="row" style=" background-image: linear-gradient(#f87891, #f8bbc7); color: #690101; font-size: 11px; font-weight: bold; text-align: center; " >
                            <div class="col-6" style=" float: left; padding-left: 13%; ">
                                <p class="">REPLACE</p>
                            </div>
                            <div class="col-6" style=" float: left; ">
                                <p class="">REPAIR</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div> 
        
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="mb-4">               
                <div  class="row"  >
                    <div class="col-6">&nbsp;</div>
                    <div class="col-3" style="  float: left; font-size: 11px; background-image: linear-gradient(#06a034, #027a26); border-top: 1px solid #fff;border-left: 1px solid #fff; ">
                        <p style = "text-align: left; color: white;  " title="Installed Devices">465</p>
                        <hr style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;  margin-top: -49%;  ">
                        <p style=" text-align: right;  margin-top: -29%; "  title="Toal Devices">600</p>
                    </div>
                    <div class="col-3" style=" font-size: 11px; float: left; background-image: linear-gradient(#97f3b3, #54f384); border-top: 1px solid rgb(255, 255, 255);
                            border-right: 1px solid #fff; color: #012e69; font-weight: bold; text-align: left;">
                        Total Customers
                    </div>
                </div>                    
            
                <div class="row" >
                    <div class="col pl-0" >                             
                        <div class="row" style=" padding-left: 9%; ">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style=" border: 1px solid #fff;" >
                        <div  class="row"  >
                            <div class="col-4" style=" float: left; font-size: 11px; padding-left: 13%; background-image: linear-gradient(#06a034, #027a26) ">
                                <p style=" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;">
                                <p style=" text-align: right; height: 21px; margin-top: -29%;" title="Toal Devices" >600</p>
                            </div>
                            <div class="col-4" style=" font-size: 11px; float: left; background-image: linear-gradient(#08773fd5, #005e1cc9) ">
                                <p style =" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;" >
                                <p style=" text-align: right; height: 21px; margin-top: -29%; " title="Toal Devices" >600</p>
                            </div>
                            <div class="col-4" style=" font-size: 11px; float: left; background-image: linear-gradient(#06a034, #027a26) ">
                                <p style=" text-align: left; color: white; height: 2px; " title="Installed Devices" >465</p>
                                <hr class="col-4" style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;" >
                                <p style=" text-align: right; height: 21px; margin-top: -29%; " title="Toal Devices" >600</p>
                            </div>
                        </div>
                        <div class="row" style=" background-image: linear-gradient(#97f3b3, #54f384); color: #012e69; font-size: 11px; font-weight: bold; text-align: center; " >
                            <div class="col-4" style=" float: left; padding-left: 13%; ">
                                <p class="">MEMBER</p>
                            </div>
                            <div class="col-4" style=" float: left; ">
                                <p class="">MINES</p>
                            </div>
                            <div class="col-4">
                                <p class="">CORPORATE</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="mb-4">               
                <div  class="row"  >
                    <div class="col-6">&nbsp;</div>
                    <div class="col-3" style="  float: left; font-size: 11px; background-image: linear-gradient(#fac15e, #fdb537); border-top: 1px solid #fff;border-left: 1px solid #fff; ">
                        <p style = "text-align: left; color: white;  " title="Installed Devices">465</p>
                        <hr style=" transform: rotate(-40deg); border-top: 1px solid rgb(91 146 255 / 72%) !important;  margin-top: -49%;  ">
                        <p style=" text-align: right;  margin-top: -29%; "  title="Toal Devices">600</p>
                    </div>
                    <div class="col-3" style=" font-size: 11px; float: left; background-image: linear-gradient(#fce4bc, #f8ca7b); border-top: 1px solid rgb(255, 255, 255);
                            border-right: 1px solid #fff; color: #815303; font-weight: bold; text-align: left;">
                        Device Static
                    </div>
                </div>                    
            
                <div class="row" >
                    <div class="col pl-0" >                             
                        <div class="row" style=" padding-left: 9%; ">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style=" border: 1px solid #fff;" >
                            <div  class="row"  >
                                <div class="col-6" style=" float: left; font-size: 11px; padding-left: 13%; background-image: linear-gradient(#fac15e, #ffcc75) ">
                                    <p style=" text-align: center; color: white; height: 45px; " title="Installed Devices" ><span><br>465</span></p>
                                </div>
                                <div class="col-6" style=" font-size: 11px; float: left; background-image: linear-gradient(#ffba43d8, #f7a71d) ">
                                    <p style =" text-align: center; color: white; height: 45px; " title="Installed Devices" ><span><br>465</span></p>                                
                                </div>
                        </div>
                        <div class="row" style=" background-image: linear-gradient(#fce4bc, #f8ca7b); color: #a36b0a; font-size: 11px; font-weight: bold; text-align: center; " >
                            <div class="col-6" style=" float: left; padding-left: 13%; ">
                                <p class="">POLLING</p>
                            </div>
                            <div class="col-6" style=" float: left; ">
                                <p class="">NON POLLING</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4" style=" padding-left: 2%;">
                    <div class="row">
                        
                    <div class="card border-0 shadow-sm col-12">
                            <div class="card-header border-0 bg-none"  >
                                <div class="row" style = " background-color: #f1a219; font-size: 16px;">
                                    <div class="col align-self-center">
                                        <p class="fs15">For Month Total - </p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="card-body pt-0"  style = " background-color: #f7d499f2;">
                                <div class="row">                                   
                                    <div class="col">
                                        <div class="row mb-0">
                                            <div class="col-auto">
                                                <i class="material-icons text-template-primary fs15 vm">album</i>
                                            </div>
                                            <div class="col pl-0 align-self-center" style=" font-size: 18px;">
                                                <p  style=" color: #5f481f; ">
                                                    <span>2548</span>&nbsp;-&nbsp;<span>Devices Order</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div><br>

                    <div class="row">
                        
                          <!--   <div class="card border-0 shadow-sm overflow-hidden col-12"> -->
                                <div class="card-body pt-0" style=" background-color: #3958e869;">
                                    <div class="row">
                                        <div class="col-12" > 
                                            <!-- <p class="text-right mb-0" style=" color: white; font-size: 14px; font-weight: bold;" ><span style=" color:rgb(2, 9, 51);">10/100&nbsp;-</span>&nbsp;<span style=" font-size: 13px; color:#fff;" >Dispatched Installed Devices</span></p> -->
                                            <div class="row" style="  padding-left: 2%;">
                                            <div class="col-12" style=" border-top:1px solid #5ddf9e; border-bottom:1px solid #5ddf9e;">
                                            <div  class="row"  >
                                                <div class="col-6" style=" float: left; font-size: 13px; padding-left: 4%; border-right:1px solid white;  ">
                                                   
                                                    <div  class="row" style=" padding-left: 1%; background-image: linear-gradient(#0361db, #014297);" >                                                       
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<p class="">Dispatched</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                       
                                                            <p class="">Installed</p>                                                       
                                                    </div> 
                                                    <div  class="row" style=" padding-left: 1%; background-image: linear-gradient(#90c8fc, #3fa1fd); color: #114D9C; font-weight: bold;" >                                                       
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="">5&nbsp;/&nbsp;10</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                       
                                                            <p class="">5&nbsp;/&nbsp;10</p>                                                       
                                                    </div> 
                                                    
                                                </div>
                                                <div class="col-6" style=" font-size: 11px; font-size: 13px; float: left;  ">
                                                    
                                                    <div  class="row" style=" padding-left: 8%; background-image: linear-gradient(#2774da, #002e6b); " >                                                      
                                                        <p class="">Dispatched</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                       
                                                            <p class="">Installed</p>                                                      
                                                    </div>
                                                    <div  class="row" style=" padding-left: 9%; background-image: linear-gradient(#90c8fc, #0774da); color: #114D9C; font-weight: bold;"  >                                                       
                                                        &nbsp;&nbsp;<p class="">5&nbsp;/&nbsp;100</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                      
                                                            <p class="">5&nbsp;/&nbsp;100</p>                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style=" border-top:1px solid #5ddf9e; background-image: linear-gradient(#6572ad, #2D3D88); " >
                                                <div class="col-6" style=" float: left; border-right:1px solid #5ddf9e; font-size: 12px; text-align: center;">
                                                    <p class="">AIS-140</p>
                                                </div>
                                                <div class="col-6" style=" font-size: 12px; float: left; text-align: center;">
                                                    <p class="">Basic</p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        
                    </div><br>

                    <div class="row">
                        
                        <!-- <div class="card border-0 shadow-sm overflow-hidden col-12"> -->
                            <div class="card border-0 shadow-sm col-12" >
                                <div class="row">
                                    <div class="col-12" > 
                                        <div class="card border-0 shadow-sm mb-0">
                                            <div class="card-header border-0 bg-none">
                                                <div class="row">
                                                    <div class="col align-self-center">
                                                        <p class="fs15">Payment Statistics</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="row">
                                                    <div class="col-auto text-center align-self-center">
                                                        <div class="donughtchart">
                                                            <canvas baseChart [datasets]="donughtchartData" [labels]="donughtchartLabels" [options]="donughtchartOptions" [legend]="donughtchartLegend" [chartType]="donughtchartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row mb-0">
                                                            <div class="col-auto">
                                                                <i class="material-icons text-template-primary fs15 vm">album</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <p>
                                                                    Renewal&nbsp;-&nbsp;<span class="text-template-primary">2548</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-0">
                                                            <div class="col-auto">
                                                                <i class="material-icons text-success fs15 vm">album</i>
                                                            </div>
                                                            <div class="col pl-0">
                                                                <p>
                                                                    Cash&nbsp;-&nbsp;<span class="text-template-primary">2548</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-auto">
                                                                <i class="material-icons text-danger fs15 vm">album</i>
                                                            </div>
                                                            <div class="col pl-0" style=" float: left;">
                                                                <p>
                                                                    Online&nbsp;-&nbsp;<span class="text-template-primary">2548</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-auto">
                                                                <i class="material-icons bg-secondary fs15 vm">album</i>
                                                            </div>
                                                            <div class="col pl-0" style=" float: left;">
                                                                <p>
                                                                    installed&nbsp;-&nbsp;<span class="text-template-primary">2548</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    
                </div>
                </div>
                <div class="col-8">
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-header border-0 bg-none">
                            <div class="row">
                                <div class="col">
                                    <p class="fs15">Month Wise Devices's Installation.</p>
                                </div>
                                
                                <div class="col-auto">
                                    <button class="btn btn-sm btn-outline-template"><i class="material-icons md-18 mr-2">print</i> Print</button>
                                </div>
                                
                                    <div class="col-auto">
                                        <div class="row">
                                            <div class="col-auto">
                                                <i class="material-icons text-template-primary fs15 vm">album</i>
                                            </div>
                                            <div class="col pl-0">
                                                <p>
                                                    Member <small class="d-block"><span class="text-template-primary">25600</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto border-left-dashed">
                                        <div class="row">
                                            <div class="col-auto">
                                                <i class="material-icons text-success fs15 vm">album</i>
                                            </div>
                                            <div class="col pl-0">
                                                <p>
                                                    Mines <small class="d-block"><span class="text-template-primary">6548</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto border-left-dashed">
                                        <div class="row">
                                            <div class="col-auto">
                                                <i class="material-icons text-danger fs15 vm">album</i>
                                            </div>
                                            <div class="col pl-0">
                                                <p>
                                                    Corporate <small class="d-block"><span class="text-template-primary">15548</span></small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div> -->

                            </div>
                           
                        </div><br>
                        <div class="card-body">
                            
                            <div class="areachart">
                                <canvas baseChart [datasets]="mixedchartjsData" [labels]="mixedchartjsLabels" [options]="mixedchartjsOptions" 
                                    [legend]="mixedchartjsLegend" [chartType]="mixedchartjsType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>
                                                       
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
               
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col">
                            <p class="fs15">Space For Map<br /></p>
                        </div>
                        <div class="col-auto">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 col-xl-4  mb-4">
            <div class="card border-0 shadow-sm overflow-hidden h-100">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col">
                            <p class="fs15">Device Statistics Views<br /><small class="text-template-primary-light">This week vs Last week</small></p>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown" ngbDropdown>
                                <button class="btn dropdown-toggle btn-sm btn-link active" ngbDropdownToggle>
                                    <i class="material-icons">more_horiz</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" ngbDropdownMenu>
                                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Another</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Something</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngb-tabset #t="ngbTabset" class="charttab">
                        <ngb-tab class="show active" id="tabsone">
                            <ng-template ngbTabContent>
                                <div class="barcharts">
                                    <canvas
                                        baseChart
                                        [datasets]="barchartsData"
                                        [labels]="barchartsLabels"
                                        [options]="barchartsOptions"
                                        [legend]="barchartsLegend"
                                        [chartType]="barchartsType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"
                                    ></canvas>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab class="tab-pane fade" id="tabstwo"><ng-template ngbTabContent>Tab 2</ng-template></ngb-tab>
                        <ngb-tab class="tab-pane fade" id="tabsthree"><ng-template ngbTabContent>Tab 3</ng-template></ngb-tab>
                    </ngb-tabset>
                </div>
                <div class="card-footer p-0 border-0 bg-none">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" (click)="t.select('tabsone')">
                                <p class="mb-1">Polling</p>
                                <p class="text-template-primary-light">2540 <span class="badge badge-success vm">+21%</span></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="t.select('tabstwo')">
                                <p class="mb-1">Non-Polling</p>
                                <p class="text-template-primary-light">1540 <span class="badge badge-danger vm">-21%</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12 col-xl-12"  style=" background-color: #EE143F;">
        <div class="card border-0 shadow-sm mb-4"  style=" background-color: #5B92FF;">
            <div class="card-body pt-0">
                <div class="card-footer p-0 border-0">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" >
                            <a class="nav-link" (click)="t.select('tabsone')">
                                <p class="mb-1">Add Vendor</p>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" (click)="t.select('tabstwo')">
                                <p class="mb-1">Add Distributor</p>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" (click)="t.select('tabsthree')">
                                <p class="mb-1">Add Customer</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

