<!--
Developer 	: Aditya Londhe
Date      	: 26-12-2020
Description : Division Mapping Module
Modified By:  
Update date : 1-3-2021
-->
<div class="content shadow-sm">
  <!-- Main container starts -->
  <div class="container-fluid main-container" id="main-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header" style="padding-top: 0; padding-bottom: 0">

            <!-- <img src="../assets/img/logoicon.svg" alt="" class="w-50px mt-4"> -->
            <h4 class="text-left m-1" style="font-size: 15px;">Division Device
              <span class="text-template-primary" style="color: #00ed54">Details</span>
              <button type="button" class="btn btn-sm btn-primaryyel ml-2 float-right" style="margin-right: 15px; background-color: #f6c53b; font-size: 12px;"
                data-toggle="modal" data-target="#exampleModal" (click)="DeviceEntry()" >
                ADD NEW
                <i class="material-icons md-18">navigate_next</i>
              </button>
            </h4>

          </div>
          <div class="card-body" style="padding: 5px;">
            <div class="row justify-content-center">
              <div class="col-md-12 mx-auto">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <!-- <button type="button" class="btn btn-primary float-left" data-toggle="modal" >
                        ADD NEW
                      </button> -->

                  </div>
                </div>

                <div class="container-fluid main-container" id="main-container">




                  <!--    ---------------        Table Header Staret=------------------------    -->
                  <div class="row  mx-1">
                    <div class="col-12 col-sm-12 col-md text-md-left align-self-center pr-0">
                      <ul class="nav  justify-sm-content-center  justify-content-left">
                        <li class="nav-item ">
                          <div class="input-group" style="max-width: 250px;">
                            <input type="text" placeholder="Search" id="searchData" class="form-control searchicon"
                              id="searchData" [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                              <button class="btn  apendbtn" (click)="searchdata()">
                                <i style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </li>
                        <li class="nav-item mx-3">
                          <i class="fa fa-refresh fa-2x fa-spin-hover" style="font-size: 17px;
                          padding-top: 4px;color: #00fff3;" (click)="Refreshfunction()"></i>
                        </li>
                      </ul>
                    </div>
    
                    <div class="col-12 col-sm-12 col-md-auto text-right text-md-end pl-0">
                      <ul class="nav justify-content-center justify-lg-content-end  justify-sm-content-center">
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer; height: 20px; margin-top: 3px;" (click)="createPDF()"
                            ngbTooltip="PDF" src="assets/images/PDFicon.png">
                        </li>
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                            src="assets/images/excellogo.png">
                        </li>
                        
                        <li class="nav-item mx-3">
                          <span style="display: inline;font-size:12px;font-weight :bold;">Show Rows : </span> <select class="form-control p-1"
                             style="width: 44px;display: inline;" (change)="SelectRows()" id="selectrow1" [(ngModel)]="itemsPerPage">
                            <option value="5" selected>5</option>
                            <!-- <option value="5">5</option> -->
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                          </select>
                        </li>
                        <li class="nav-item pt-1">
                          <span style="font-size:12px;font-weight: bold;">Total Records : {{viewcount}} of {{count}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- ---------------------  Table header end  ------------------------------ -->


                  <div id="PDFTable" class="card-body table-responsive" #epltable>
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr role="row">
                          <th (click)="sort('rowNumber')">#</th>
                          <th (click)="sort('param6')">Division Name</th>
                          <th (click)="sort('param11')">Device Unique No.</th>
                          <th (click)="sort('param10')">Device IMEI No.</th>
                          <th (click)="sort('param4')">Assign Date.</th>
                          <!-- <th class="all sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 86px;" aria-label="Order ID: activate to sort column descending" aria-sort="ascending">Order ID</th> -->
                         
                          <!-- <th (click)="sort('rowNumber')">Mobile No.</th>
                          <!-- <th (click)="sort('rowNumber')">Department. </th> -->
                          <!-- <th (click)="sort('rowNumber')">Designation. </th> -->                           <!-- <th (click)="sort('rowNumber')">Remark</th> -->

                          <!-- <th style="text-align: center; background-color: #b69090;">Status</th> -->
                          <th style="background-color: #99c049">Action</th>
                        </tr>
                      </thead>
                      <tbody id="grid">
                        <tr *ngFor="let com of EmployeeMappingDetails$ | filter:filter | orderBy: key : reverse | paginate : {itemsPerPage:pagecount,currentPage:p,totalItems:count} ;" class="trheight">
                          <td>{{com.rowNumber}}</td>
                            <td>{{com.param6}}</td>
                            <td>{{com.param11}}</td>                            
                            <td>{{com.param10}}</td>
                            <td>{{com.param4}}</td>

                            <!-- <td>{{com.param7}}</td> ->
                            <td>{{com.param11}}</td> -->

                          <!-- <td class="font-weight-bold statustd" style="color: red; background-color: #f1c6c6;
                          text-align: center; width: 30px;">{{com.param5}}</td> -->
                         
                          <td [ngStyle]="{'background-color':com.altColor}" class="viewbtncss">
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard" (click)="setdata(com)">
                              <i class="material-icons" style="color: #161e43">visibility</i>
                            </span>
                          </td>
                        </tr>

                         <!-- <tr>
                        <td>2</td>
                        <td>Indtrack</td>
                        <td>9867788684</td>
                        <td>abc@gmail.com</td>
                        <td>Nagpur</td>
                       

                        <td style="background-color: #a8c5ff;
                        text-align: center; width: 30px;">
                          <span class="iconhover" data-toggle="modal" data-target="#myModalwizard" >
                            <i class="material-icons" style="color: #161e43">visibility</i>
                          </span>
                        </td>
                      </tr>   -->

                      


                      </tbody>
                      <tfoot id= "foot" class="box-footer clearfix">
                          <tr>
                              <td colspan="12">
                                <pagination-controls  style=" float: right;" (pageChange)="PlaceOrderpageChanged($event)" ></pagination-controls>                                               
                              </td>
                          </tr>
                      </tfoot>
                      
                    </table>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------  view & Edit Modal start ------------------------>

<div class="modal fade " id="myModalwizard" data-backdrop="static">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content ">

      <!-- Modal Header -->
      <div class="modal-header modelcolor">
        <h5 class="modal-title" id="vmd" style="display: block;">Division Device Details</h5>
        <h5 class="modal-title" id="uvmd" style="display: none;">Update Division Device</h5>
        <div style="float:right; margin-left: 55%;">
          <button type="button" class=" btn btn-sm btn-secondary float-right ml-2 bg-warning" style="display: block;" id="editbtn"
            ngbTooltip="Edit" (click)="editpageform()">

            <i class="material-icons md-18">edit</i>
          </button>
          <button type="button" class=" btn btn-sm btn-danger float-right ml-2" id="deletebtn" ngbTooltip="Delete" data-toggle="modal"
            data-target="#modeldelete">

            <i class="material-icons md-18">delete</i>
          </button>
          <button type="button" class=" btn btn-sm btn-primary float-right ml-2" id="backdetailsbtn" ngbTooltip="Back" style="display: none;"
            (click)="backdetailsbtn()">

            <i class="material-icons md-18">arrow_back</i>
          </button>
        </div>
        <button type="button" style="color: white" class="close" data-dismiss="modal">&times;</button>
      </div>


      <!-- Modal body -->
      <div class="modal-body " style="background-color: #CBD2F1">
        <div class="container">
          <div class="container-fluid">
            <div id="container" style="display: none;">
              <div class="step-wizard" role="navigation">
                <!-- <div class="progress">
                  <div class="progressbar empty"></div>
                  <div id="prog" class="progressbar"></div>
                </div> -->
                <ul style="display: none;">
                  <li class="active">
                    <button id="step1">
                      <div class="step">1</div>
                      <div class="title"> Details</div>
                    </button>
                  </li>
                  <li class="">
                    <button id="step2">
                      <div class="step">2</div>
                      <div class="title">Contact Details</div>
                    </button>
                  </li>
                  <li class="">
                    <button id="step3">
                      <div class="step">3</div>
                      <div class="title">Account Details</div>
                    </button>
                  </li>
                  <li class="">
                    <button id="step4">
                      <div class="step">4</div>
                      <div class="title">Successful</div>
                    </button>
                  </li>
                </ul>


                <div class="stepsection">
                  <span class="invalidmsg" id="msg_mainmessage"></span>
                  <div id="step-14" class="stepsdiv">
                      <!-- <span class="StepTitle">Step 1: Basic Details</span> -->
                      <div class="form-group row">
                          <!-- <div class="col-lg-4 col-md-4" id="divisionlist">
                              <label class="indlabel">Division</label>
                              <span class="mandatory">*</span>
                             
                              <ngx-select-dropdown tabindex="0" id="divisionupdate" [multiple]="false" [(ngModel)]="DivisionupdateText" 
                              [config]="config" [options]="ListOfDivisionUpdate" (change)="SelectDivisionData()" ></ngx-select-dropdown>  
          
                              <span class="invalidmsg" id="msg_vendorName"></span>
                            </div> -->
                            <div class="col-lg-4 col-md-4" style="display: block;">
                                <label class="indlabel">Division</label>
                                <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required minlength="3" maxlength="30"
                                  id="divisiondummy" onpaste="return false;" [(ngModel)]="divisionname" disabled onkeypress="return onlyAlphabets(event);"
                                  ondrop="return false;">
                              </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="indlabel">Device Id</label>
                                <span class="mandatory">*</span>
                               
                                <ngx-select-dropdown tabindex="0" id="devicetypeupdate" [multiple]="false" [(ngModel)]="DeviceTypeUpdateText" 
                                [config]="config" [options]="ListOfDevicetype" (change)="SelectDeviceType()" ></ngx-select-dropdown>  
            
                                <span class="invalidmsg" id="msg_vendorName"></span>
                              </div>
                            
                              <div class="col-lg-2 col-md-2" style="display: none;">
                                  <label class="indlabel">Dummy Device</label>
                                  <span class="mandatory">*</span>
                                  <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required minlength="3" maxlength="30"
                                    id="deviceiddummy" onpaste="return false;" [(ngModel)]="selectdeviceid" onkeypress="return onlyAlphabets(event);"
                                    ondrop="return false;">
                                </div>
      
      
                        </div>
      
                      
                      
                      <br><br>
                      <span class="invalidmsg" id="msg_errorupdate"></span>
                    </div>

                  

                </div>
              </div>
            </div>
          </div>
          <!-- --------------------------------------------- View Section ------------------------------------------- -->
          <div class="">
          

            <div id="vendordtls" class="row" style="background-color: #0e2145; border: 1px ridge #02108d;">
              <div class="col-12 col-md-12 col-lg-12">

                <div class="row" style="background-color: rgb(198 201 202);">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="viewheading">Employee Details</div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Device IMEI No:</span>&nbsp;
                      <span class="viewlable">{{deviceimei}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Device Unique:</span>&nbsp;
                      <span class="viewlable">{{deviceunique}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Employee Name:</span>&nbsp;
                      <span class="viewlable">{{divisionname}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <!-- <div class="page-subtitle viewheading">Basic Details</div> -->
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Employee No.:</span>&nbsp;
                      <span class="viewlable">{{customermobile}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Designation:</span>&nbsp;
                      <span class="viewlable">{{designation}}</span>
                    </div>
                    <!-- <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Remark:</span>&nbsp;
                      <span class="viewlable">{{remark_}}</span>
                    </div> -->

                  </div>
                </div>
                <br>







                <br>

              </div>
              <!-- --------------------- View Section End ------------------------------ -->

            </div>

          </div>
         
        </div>
        <!-- --------------------- View Section End ------------------------------ -->

      </div>


      <!-- Modal footer -->

      <div class="modal-footer" style="display: none;" id="modelfooter">
        <div class="container mx-5 row">
          <div class="col-md-7">
            <textarea class="form-control bg-white" rows="1" placeholder="Enter Remark" tabindex="21" minlength="10"
              maxlength="40" id="Remarkvenupdate" [(ngModel)]="remarkText" #remark="ngModel" required
              [ngClass]="{'is-invalid': remark.invalid && submitted }"></textarea>
            <div class="invalidmsg" *ngIf="remark.errors?.minlength">
              Remark must be 10 to 40 characters long.
            </div>
            <span class="invalidmsg" id="msg_errorupdate1"></span>
          </div>
          <div class="col-md-5">
        <div class="actionBar">
          <button id="save" class="mb-2 btn btn-wizard btn-sm btn-success buttonFinish"  style="display: none;">
            <i class="material-icons">save</i>
          </button>
          <button id="next" class="mb-2 btn btn-wizard btn-sm btn-success buttonNext" (click)="divisioneditsve()" >
            <i class="material-icons">save</i>
          </button>

        </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- view & Edit model close ------------------------ -->

<!-- Developer 	: Aditya Londhe
Date      	: 1-12-2020
Description : Added a popup for Delete
Modified By:  
Update date : -->

<!-- Delete Model-->
<div class="modal fade" id="modeldelete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	red;">
        <h4 class="modal-title text-center" style="color: yellow">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: #f0e8e9">

        <div class="form-group row">


          <div class="col-lg-12 col-md-12">
            <label style="color: black">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Remark" tabindex="1" minlength="10" maxlength="40"
              [(ngModel)]="deleteText" #regaddress="ngModel" id="empdelremark"></textarea>
           
          </div>
          
        </div>
        <span class="invalidmsg" id="msg_error_delete"></span>
        <p style="    background-color: yellow;
        /* padding-right: 20px; */
        margin-right: 89px;
        color: red; display: none;">Do You want to Delete !!&hellip;</p>
      </div>
      

      <!-- Modal footer -->
      <div class="modal-footer text-center" style="background-color: #cfbaa8">
        <button type="submit" class="btndel btn-primary mr-3" data-toggle="modal" data-dismiss="modal" tabindex="18" >
          No
        </button>
        <button type="reset" tabindex="19" class="btndel btn-danger " data-toggle="modal" (click) = "EmployeeUnassignfunction()">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model -->

<!-- ------------------- Delete model End ----------------------- -->

<!-- ------------------- onclick no btn model  ----------------------- -->
<!-- The Modal -->
<div class="modal fade" id="Noclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(255, 255, 255);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Your Data is not Delete</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <!-- <div class="modal-body">
          Your Data is Not delete..
        </div> -->

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          <span class="material-icons">
            highlight_off
          </span>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- onclick no btn model End ----------------------- -->
<!-- ------------------- onclick Yes btn model ----------------------- -->

<div class="modal fade" id="Yesclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(255, 255, 255);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Data Deleted Successfully</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <!-- <div class="modal-body">
          Your Data is Not delete..
        </div> -->

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          <span class="material-icons">
            highlight_off
          </span>
        </button>
      </div>

    </div>
  </div>
</div>


<!-- Developer 	: Aditya Londhe
Date      	: 1-12-2020
Description : Added a popup for success and error msg 
Modified By:  
Update date : -->



<!-- Developer 	: Aditya Londhe
Date      	: 1-12-2020
Description : Added a popup for success and error msg 
Modified By:  
Update date : 1-6-2021-->


<div class="modal fade " id="SuccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal"  role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-success m-0 p-0">
          <h5>Success</h5>
        </div>
        <div class="card-body bg-white">
          {{datafromrespo}}
          <div class="text-right">
            <button class="btn btn-sm btn-success" data-dismiss="modal" (click)="closemodal()">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="ErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal" role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-warning m-0 p-0">
          <h5>Failed</h5>
        </div>
        <div class="card-body bg-white">
          {{datafromrespo}}
          <div class="text-right pt-3">
            <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ------------------- onclick yes btn model End ----------------------- -->

<!-- <app-orderentry></app-orderentry> -->