<!-- developer Dhammadeep Dahiwale 
date  : 22-mar -2021 -->



<div class="content shadow-sm">
  <!-- main content starts -->

  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm mb-3">
          <div class="card-header p-0">
            <h4 class="text-left m-1" style="font-size: 15px;">Page
              <span class="text-template-primary" style="color: #00ed54">Entry</span>
              <button type="button" class="btn btn-sm btn-primaryyel ml-2 float-right" style="margin-right: 89px; "
                data-toggle="modal" data-target="#exampleModal1" id="addnewpage">
                ADD NEW
                <i class="material-icons md-18">navigate_next</i>

              </button>
            </h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-12">
              </div>
            </div>

            <div class="container-fluid main-container" id="main-container">
              <!--    ---------------        Table Header Staret=------------------------    -->
              <div class="col-md-12 table-header">
                <div class="row  mx-1">
                  <div class="col-12 col-sm-12 col-md text-md-left align-self-center pr-0">
                    <ul class="nav  justify-sm-content-center  justify-content-left">
                      <li class="nav-item ">
                        <div class="input-group" style="max-width: 250px;">
                          <input type="text" placeholder="Search" id="searchData" class="form-control searchicon"
                            id="searchData" [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <button class="btn  apendbtn" (click)="searchdata()">
                              <i style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item mx-3">
                        <i class="fa fa-refresh fa-2x fa-spin-hover" style="font-size: 17px;
                        padding-top: 4px;color: green;" (click)="Refreshfunction()"></i>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 col-sm-12 col-md-auto text-right text-md-end pl-0">
                    <ul class="nav justify-content-center justify-lg-content-end  justify-sm-content-center">
                      <li class="nav-item mx-2">
                        <img style="cursor: pointer; height: 20px; margin-top: 3px;" (click)="createPDF()"
                          ngbTooltip="PDF" src="assets/images/PDFicon.png">
                      </li>
                      <li class="nav-item mx-2">
                        <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                          src="assets/images/excellogo.png">
                      </li>
                      <li class="nav-item mx-3">
                        <span style="display: inline;font-size:12px;font-weight :bold;">Show Rows : </span> <select
                          class="form-control p-1" style="width: 44px;display: inline;" data-live-search="true"
                          tabindex="1" id="selectrow2" aria-hidden="true"
                          [(ngModel)]="itemsPerPage">
                          <option value="5">5</option>
                          <option value="10" selected>10</option>
                          <option value="20">20</option>
                          <option value="50">50</option>
                        </select>
                      </li>
                      <li class="nav-item pt-1">
                        <span style="font-size:12px;font-weight: bold;">Total Records : {{viewCount}} of
                          {{count}}</span>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

              <!-- ---------------------  Table header end  ------------------------------ -->


              <div id="PDFTable" class="card-body table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr role="row">
                      <th (click)="sort('param2')">#</th>
                      <th (click)="sort('param2')">Vehicle Make Name</th>
                      <th (click)="sort('param5')">Description</th>
                      <th (click)="sort('param3')">Creation Date</th>
                      <th style="background-color: #99c049; width: 30px;">Action</th>
                    </tr>
                  </thead>
                  <tbody id="grid">
                    <tr
                      *ngFor="let com of pageDetails | filter:filter | orderBy: key : reverse | paginate : {itemsPerPage:pagecount,currentPage:pageNumber,totalItems:count} ;"
                      class="trheight">
                      <td>{{com.rowNumber}}</td>
                      <td>{{com.param2}}</td>
                      <td>{{com.param5}}</td>
                      <td>{{com.param3}}</td>
                      <td [ngStyle]="{'background-color':com.altColor}" class="viewbtncss">
                        <span class="iconhover" data-toggle="modal" data-target="#myModalwizard"
                          (click)="setdata(com)">
                          <i class="material-icons" style="color: #161e43; padding-left: 9px;">visibility</i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot id="foot" class="box-footer clearfix">
                    <tr>
                      <td colspan="12">
                        <pagination-controls style=" float: right;">
                        </pagination-controls>
                      </td>
                    </tr>
                  </tfoot>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- --------------------  view & Edit Modal start------------------------>

<div class="modal fade " id="myModalwizard">
  <div class="modal-dialog modal-lg" style="width: 35rem;">
    <div class="modal-content ">


      <!-- Modal Header -->
      <div class="modal-header modelcolor">
        <h4 class="text-left m-1" id="vmd" style="font-size: 15px;">Page
          <span class="text-template-primary" style="color: #00ed54">Details</span>
        </h4>
        <h4 class="text-left m-1" id="uvmd" style="font-size: 15px;  display: none;">Page
          <span class="text-template-primary" style="color: #00ed54">Update</span>
        </h4>
        <!-- <h5 class="modal-title" id="vmd" style="display: block;">Page Details</h5>
        <h5 class="modal-title" id="uvmd" style="display: none;width: 50%;">Update Page</h5> -->
        <div style="width:72%">
          <button type="button" class=" btn btn-sm btn-secondary float-right ml-2 bg-warning" style="display: block;"
            id="editbtn" ngbTooltip="Edit" (click)="editpageform()">

            <i class="material-icons md-18">edit</i>
          </button>
          <button type="button" class=" btn btn-sm btn-danger float-right ml-2" id="deletebtn" ngbTooltip="Delete"
            data-toggle="modal" data-target="#modeldelete" (click)="clear();">

            <i class="material-icons md-18">delete</i>
          </button>
          <button type="button" class=" btn btn-sm btn-primary float-right ml-2" id="backdetailsbtn" ngbTooltip="Back"
            style="display: none;" (click)="backdetailsbtn()">

            <i class="material-icons md-18">arrow_back</i>
          </button>
        </div>
        <button type="button" style="color: white" class="close" data-dismiss="modal"
          (click)="refreshForm()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body " style="background-color: #CBD2F1">
        <div class="container-fluid">
          <div id="container" style="display: none;">
            <div class="step-wizard" role="navigation">
              <div class="stepsection">
                <span class="invalidmsg" id="msg_mainmessage"></span>
                <div id="step-14" class="stepsdiv">
                  <!-- <span class="StepTitle">Step 1: Basic Details</span> -->
                  <div class="form-group row">
                    <div class="col-lg-6 col-md-6">
                      <label class="indlabel">Page Name </label>
                      <span class="mandatory">*</span>
                      <input type="text" name="pageName" class="form-control" [(ngModel)]="pEntry.pageName"
                        onkeypress="return onlyAlphabets(event); " id="pageNameid" placeholder="Enter Page Name"
                        required #pageNameCtrl="ngModel" tabindex="">

                    </div>
                    <div class="col-lg-6 col-md-6">
                      <label class="indlabel">Page Url</label>
                      <span class="mandatory">*</span>
                      <input type="text" name="pageUrl" class="form-control" [(ngModel)]="pEntry.pageUrl" id="pageurlId"
                        (keyup)="urlValidator(pEntry.pageUrl)" placeholder=" Enter Page Url" required minlength="4"
                        maxlength="25" #pageUrlCtrl="ngModel" tabindex="3">

                    </div>
                  </div>
                  <div class=" form-group row">

                    <div class="col-lg-6 col-md-6">
                      <label class="indlabel"> Page Description </label>
                      <span class="mandatory">*</span>
                      <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Description."
                        tabindex="4" minlength="3" maxlength="250" name="pageDesc" [(ngModel)]="pEntry.pageDescription"
                        #pageDescCtrl="ngModel" id="descriptionid"></textarea>

                    </div>

                  </div>
                  <span class="invalidmsg" id="msg_errorentry4" style="position: absolute;bottom:10px"></span>
                </div>
              </div>

            </div>
          </div>
          <!-- --------------------------------------------- View Section ------------------------------------------- -->
          <div class="container">
            <div id="vendordtls" class="row" style="background-color: #0e2145; border: 1px ridge #02108d;">
              <div class="col-12 col-md-12 col-lg-12">

                <div class="row" style="background-color: rgb(198 201 202);">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="viewheading">Page Details</div>
                  </div>
                </div>
                <br>

                <div class="row">

                  <div class="col-12 col-md-12 col-lg-12">
                    <!-- <div class="col-6 col-md-6 col-lg-6" style=" float: left;"> -->
                    <span class="caplable">Page Name:</span>&nbsp;
                    <span class="viewlable">{{pEntry.pageName}}</span>
                    <!-- </div> -->
                    <!-- <div class="col-6 col-md-6 col-lg-6" style=" float: left;"> -->
                  </div>
                  <div class="col-12 col-md-12 col-lg-12">

                    <span class="caplable">Page Url :</span>&nbsp;
                    <span class="viewlable">{{pEntry.pageUrl}}</span>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">

                  <div class="col-12 col-md-12 col-lg-12">
                    <!-- <div class="col-12 col-md-12 col-lg-12" style=" float: left;"> -->
                    <span class="caplable">Description:</span>&nbsp;
                    <span class="viewlable">{{pEntry.pageDescription}}</span>
                    <!-- </div> -->
                  </div>
                </div>



              </div>
              <!-- --------------------- View Section End ------------------------------ -->

            </div>

          </div>
          <br>
        </div>
        <!-- --------------------- View Section End ------------------------------ -->

      </div>


      <!-- Modal footer -->


      <div class="modal-footer" style="display: none;" id="modelfooter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9" style="padding-left: 40px;">
              <textarea class="form-control bg-white" rows="1" style="margin-left: -14px;" placeholder="Enter Remark"
                onkeypress="return onlyAlphabets(event); " tabindex="21" minlength="10" id="remarkId"
                [(ngModel)]="pEntry.remark" #remarkeCtrl="ngModel" required></textarea>
              <small class="text-danger" *ngIf="remarkeCtrl.errors?.minlength" style="margin-left: -11px;">
                Remark must be at least of 10 characters long.
              </small>

              <span class="invalidmsg" id="msg_errorremark" style="margin-left: -10px;"></span>
            </div>
            <div class="col-md-3">
              <div class="actionBar" style="margin-right: 1pc;">
                <button id="save" class="mb-2 btn btn-wizard btn-sm btn-success buttonFinish float-right"
                  (click)="updatePageEntry()">
                  <i class="material-icons">save</i>
                </button>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- ------------------- view & Edit model close ------------------------ -->

<!-- popup message alerts  -->



<div class="modal fade " id="updateSuccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content box-shadow">
      <div class="card border-0">
        <div class="card-header  py-1 pl-3 m-0" style="background-color: green;">
          <p style="font-size:17px; font-weight:bold"> Success </p>
        </div>
        <div class="card-body bg-white text-dark">
          <p> {{datafromrespo}}</p>
          <div class="text-right">
            <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="ErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content box-shadow">
      <div class="card border-0">
        <div class="card-header  py-1 pl-3 m-0" style="background-color: red;">
          <p style="font-size:17px; font-weight:bold"> Error </p>
        </div>
        <div class="card-body bg-white text-dark">
          <p> {{datafromrespo}}</p>
          <div class="text-right">
            <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Model-->
<div class="modal fade" id="modeldelete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	red;">
        <h4 class="modal-title text-center" style="color: yellow">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clear();">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: #f0e8e9">

        <div class="form-group row">


          <div class="col-lg-12 col-md-12">
            <label style="color: black">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Remark" tabindex="1"
              minlength="10" maxlength="40" [(ngModel)]="deleteremark" #regaddress="ngModel"
              id="remarkField"></textarea>
            <small id="invalidRemark" class="text-danger"></small>

          </div>

        </div>
        <span class="invalidmsg" id="msg_error_delete"></span>
        <p style="    background-color: yellow;
      /* padding-right: 20px; */
      margin-right: 89px;
      color: red; display: none;">Do You want to Delete !!&hellip;</p>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer text-center" style="background-color: #cfbaa8">
        <button type="submit" class="btndel btn-primary mr-3" data-toggle="modal" data-dismiss="modal" tabindex="18">
          No
        </button>
        <button type="reset" tabindex="19" class="btndel btn-danger" data-toggle="modal" (click)="DeletePageEntry()">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model -->


<app-page-entry (showDetails)="getpagedetails()"></app-page-entry>