<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document" style="width: 35rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-left m-1" style="font-size: 15px;">Vehicle Make
          <span class="text-template-primary" style="color: #00ed54">Entry</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear();">
          <span aria-hidden="true" style="color: white">×</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0px;">
        <div class="container-fluid" style="padding: 0px;">
          <div id="container">
            <div class="step-wizardentry" role="navigation">

              <div class="stepsection">
                <span class="invalidmsg" id="msg_mainmessageentry"></span>
                <div id="stepentry-14" class="stepsdiv">
                  <!-- <span class="StepTitle">Vehicle Details</span> -->
                  <div class="form-group row">
                    <div class="col-lg-6 col-md-6">
                      <label class="indlabel"> Vehicle Make Name</label>
                      <span class="mandatory">*</span>
                      <input type="text" class="form-control" placeholder="Enter vehicle make name." tabindex="1"
                        minlength="3" maxlength="50" [(ngModel)]="makenameText" #makename="ngModel"
                        style=" font-size:12px" required ondrop="return false;" onpaste="return false;"
                        id="makenameentry"  onkeypress="return onlyAlphabets(event);">
                      <div class="invalidmsg" *ngIf="makename.errors?.minlength">
                        Vehicle make name should be 3 to 50 characters long.
                      </div>
                      <!-- <span class="invalidmsg" id="msg_makename"></span> -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <label class="indlabel">Description </label>
                      <span class="mandatory">*</span>
                      <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter description."
                        tabindex="2" minlength="5" name="subDivisionDesc" [(ngModel)]="descriptionText"
                        #subDivisionDescCtrl="ngModel" id="descriptionnameentry"></textarea>
                      <div class="invalidmsg" *ngIf="subDivisionDescCtrl.errors?.minlength">
                        Description must be minimum 5 characters long.
                      </div>
                      <!-- <span class="invalidmsg" id="msg_regaddentry"></span> -->
                    </div>

                  </div>
                  <!-- < class="invalidmsg" id="msg_descriptionname"></span> -->
                  <span class="invalidmsg" id="msg_errorentry3" style="position: absolute;bottom:10px;"></span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->

      <div class="modal-footer" id="modelfooter">
        <div class="container-fluid">
          <div class="actionBar">
            <button id="saveentry" class="mb-2 btn btn-sm btn-success buttonFinish" (click)="vensavebtn1()"><i
                class="material-icons">save</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>