<body style="background-image: url('assets/images/login_pagebg.jpeg'); height: 100vh;width: 100vw;">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a href="" class="logo text-white">
      <img src="assets/images/indtrack_R_logo.png" style="width: 200px;"
        title="Welcome to IndTrack- India's Leading GPS Solution provider | Vehicle Tracking System | Low Cost GPS Tracking | Sturdy VTS | Tracking On own GIS Map,Bing Map|Fuel Monitoring System"
        class="logo-icon" />
    </a>


    <h2 class="text-center" style="position: relative;left: 216px;;"><u style="color: red;"> <span
          style="color: #0c3c9d;"> Indtrack Application </span> <span class="text-success"> Presentation </span></u>
    </h2>
  </nav>


  <div class="row mt-5">


    <div class="col-md-3 text-center">
      <button class="btn btn-warning " data-toggle="modal" data-target="#warning"> Railway Tracking Web</button>
    </div>
    <div class="col-md-3 text-center">
      <button class="btn btn-danger " data-toggle="modal" data-target="#danger"> Railway Track Mobile</button>
    </div>
    <div class="col-md-3 text-center">
      <button class="btn btn-light " data-toggle="modal" data-target="#light"> ESL Track Web </button>
    </div>


    <div class="col-md-3 text-center">
      <button class="btn btn-success " data-toggle="modal" data-target="#success"> Indtrack Mobile</button>
    </div>

  </div>
  <!-- <button class="btn btn-light" routeLink="/login" style="position: absolute;top:50%;left:50%;">Login</button> -->




  <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1 bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Railway Tracking Web</h5>
          <button type="button" class="close btn-sm p-0" data-dismiss="modal" aria-label="Close"
            style="position: relative;right: 25px;top: 15px;">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: cadetblue;">
          <video width="100%" height="415px" controls>
            <source src="https://track.indtrack.com/upload/video/webapp.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="danger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1 bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Railway Track Mobile</h5>
          <button type="button" class="close btn-sm p-0" data-dismiss="modal" aria-label="Close"
            style="position: relative;right: 25px;top: 15px;">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: cadetblue;">
          <video width="100%" height="415px" controls>
            <source src="https://track.indtrack.com/upload/video/Railway.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="light" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1 bg-light">
          <h5 class="modal-title" id="exampleModalLabel">ESL Track Web</h5>
          <button type="button" class="close btn-sm p-0" data-dismiss="modal" aria-label="Close"
            style="position: relative;right: 25px;top: 15px;">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: cadetblue;">
          <video width="100%" height="415px" controls>
            <source src="https://track.indtrack.com/upload/video/webapp.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1 bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Indtrack Mobile</h5>
          <button type="button" class="close btn-sm p-0" data-dismiss="modal" aria-label="Close"
            style="position: relative;right: 25px;top: 15px;">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: cadetblue;">
          <video width="100%" height="415" controls>
            <source src="https://track.indtrack.com/upload/video/indtrack.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header p-1 bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Web Application</h5>
          <button type="button" class="close btn-sm p-0" data-dismiss="modal" aria-label="Close"
            style="position: relative;right: 25px;top: 15px;">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: cadetblue;">
          <video width="100%" height="100%" controls>
            <source src="https://track.indtrack.com/upload/video/webapp.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

      </div>
    </div>
  </div> -->


  <footer class="footer" style="position: relative;top:  25rem;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md text-center text-md-left align-self-center">
          <p>All rights reserved by <a href="">IndTrack</a></p>
        </div>
        <div class="col-12 col-md-auto text-center text-md-right">
          <ul class="nav justify-content-center justify-md-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0)">Terms of use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>