
  <div id="chartDiv" style=" margin-left: 0%; color: white; width: 46%; height: 108px;"></div>
  <div style=" color: #f57208; margin-top: -9%; margin-left: -50%; font-weight: bold; font-size: 13px; ">{{var_maxspeed}}</div> 
  
    <table class="table table-hover table-striped" style=" margin-top: -33px; margin-left: 39%; text-align: left;
            font-size: 10px; width: 54%; margin-left: 56px; ">         
       
         <div style=" height: 96px!important; overflow-y: scroll; border: 1px solid #b7bec4; margin-top: -29%;
            margin-left: 61%; width: 86%; ">
           <tr *ngFor="let lst of listvehaboveseven$;" >           
             <td style=" padding: 0.35rem 0.5rem; font-size: 9px; color: rgb(2, 2, 46); font-weight: bold; " >{{lst.param12}}</td>
             <td  style=" color: rgb(252, 115, 4); padding: 0.35rem 0.5rem; font-size: 9px; font-weight: bold;" >{{lst.param37}}</td>
           </tr>
         </div>       
      
    </table>
    
 