<!--
Developer 	: Kajal
Date      	: 09-06-2021
Description : Updated Log Details Module
Modified By:  
Update date : 
-->
<div class="content shadow-sm">
  <!-- Main container starts -->
  <div class="container-fluid main-container" id="main-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header" style="padding-top: 0; padding-bottom: 0">

            <!-- <img src="../assets/img/logoicon.svg" alt="" class="w-50px mt-4"> -->  
            <h4 class="text-left m-1" style="font-size: 15px;">Updated Log
              <span class="text-template-primary" style="color: #00ed54">Details</span>
             
            </h4>
           
          </div>
          <div class="card-body" style="padding: 5px;">
            <div class="row justify-content-center">
              <div class="col-md-12 mx-auto">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <!-- <button type="button" class="btn btn-primary float-left" data-toggle="modal" >
                        ADD NEW
                      </button> -->
                   
                  </div>
                </div>

                <div class="container-fluid main-container" id="main-container">
                 
             <!--    ---------------        Table Header Staret=------------------------    -->
             <div class="col-md-12">
              <div class="row  mx-1">
                <div class="col-12 col-sm-12 col-md text-md-left align-self-center pr-0">
                  <ul class="nav  justify-sm-content-center  justify-content-left">
                    <li class="nav-item ">
                      <div class="input-group" style="max-width: 250px;">
                        <input type="text" placeholder="Search" id="searchData" class="form-control searchicon"
                         [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <button class="btn  apendbtn" (click)="searchdata()">
                            <i style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item mx-3">
                      <i class="fa fa-refresh fa-2x fa-spin-hover" style="font-size: 17px;
                      padding-top: 4px;color: #00fff3;" (click)="Refreshfunction()"></i>
                    </li>
                    <li class="nav-item">
                          <label class="indlabel" style="font-size: 10px; color: white; font-weight: bold;">Date :<span>&nbsp;</span></label>
                                            </li>
                    <li class="nav-item">
                      <div id="daterangeadminux2" class="form-control pr-0">
                        <span id="daterange"></span> <i
                          class="material-icons avatar avatar-26 text-template-primary cal-icon float-right">event</i>
                      </div>
                    </li>

                    <li class="nav-item">
                      <div class="col-12">
                       <button type="submit" style="top: 2px;" class="btn btn-sm btn-success mr-1" (click)="Dateselect()">Submit</button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col-12 col-sm-12 col-md-auto text-right text-md-end pl-0">
                  <ul class="nav justify-content-center justify-lg-content-end  justify-sm-content-center">
                    <li class="nav-item mx-2">
                      <img style="cursor: pointer; height: 20px; margin-top: 3px;" (click)="createPDF()"
                        ngbTooltip="PDF" src="assets/images/PDFicon.png">
                    </li>
                    <li class="nav-item mx-2">
                      <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                        src="assets/images/excellogo.png">
                    </li>
                    <li class="nav-item mx-3">
                      <span style="display: inline;font-size:12px;font-weight :bold;">Show Rows : </span> <select class="form-control p-1"
                      style="width: 44px;display: inline;" data-live-search="true" tabindex="1" id="selectrow19" (change)="SelectRows()" aria-hidden="true"
                       [(ngModel)]="itemsPerPage">
                       <option value="5">5</option>
                       <option value="10" selected>10</option>
                       <option value="20">20</option>
                       <option value="50">50</option>
                      </select>
                    </li>
                    <li class="nav-item pt-1">
                      <span style="font-size:12px;font-weight: bold;">Total Records : {{viewcount}} of {{count}}</span>
                    </li>
                  </ul>
                </div>
              </div>
    
              </div>
    
         <!-- ---------------------  Table header end  ------------------------------ --> 
                 
                  
         <div id="PDFTable" class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <thead >
              <tr role="row">
                <th (click)="sort('rowNumber')">#</th>
                <th (click)="sort('param9')">Role Name</th>
                <th (click)="sort('param3')">Master Page Name</th>
                <th (click)="sort('param8')">Name</th>
                <th (click)="sort('param5')">Updated Date</th>
                <th (click)="sort('param7')">Remark</th>
                <th (click)="sort('param4')">Values updated</th>
               </tr>
            </thead>
            <tbody id = "grid" > 
                <tr *ngFor="let com of UpdateDetailObject | filter:filter | orderBy: key : reverse | paginate : {itemsPerPage:pagecount,currentPage:p,totalItems:count} ;" class="trheight">
            
                  <td style=" padding: 0.35rem 0.5rem;">{{com.rowNumber}}</td>
                  <td style=" padding: 0.35rem 0.5rem;">{{com.param9}}</td>
                  <td style=" padding: 0.35rem 0.5rem;">{{com.param3}}</td>
                  <td style=" padding: 0.35rem 0.5rem;">{{com.param8}}</td>

                  <td style=" padding: 0.35rem 0.5rem;">{{com.param5}}</td>
                  <td style=" padding: 0.35rem 0.5rem;">{{com.param7}}</td>

                  <td style=" padding: 0.35rem 0.5rem;">{{com.param4}}</td>
              </tr>
            

            </tbody>
            <tfoot id= "foot" class="box-footer clearfix">
                <tr>
                    <td colspan="12"> 
                      <pagination-controls style=" float: right;" (pageChange)="UpdatepageChanged($event)" ></pagination-controls>                                               
                    </td>
                </tr>
            </tfoot>
          </table>
         
        </div>

                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

