<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document" style="width: 35rem;">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">District Master Entry</h5> -->
        <h4 class="text-left m-1" style="font-size: 15px;">District
          <span class="text-template-primary" style="color: #00ed54">Entry</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clear();">
          <span aria-hidden="true" style="color: white">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">


          <div class="stepsection">
            <div id="stepentry-14" class="stepsdiv">
              <!-- <span class="StepTitle">Step 1: Basic Details</span> -->
              <div class="form-group row">


                <div class="col-lg-6 col-md-6">
                  <label class="indlabel">State</label>
                  <span class="mandatory">*</span>
                  <ngx-select-dropdown tabindex="1" id="stateentry" [multiple]="false" [(ngModel)]="stateText"
                    [config]="config" [options]="ListOfState" (change)="selectdummystate()"></ngx-select-dropdown>

                  <input type="text" class="form-control" placeholder="Enter State Name." minlength="3" maxlength="50"
                    [(ngModel)]="dummynameText" #dummyname="ngModel" style="display: none;" required
                    onkeypress="return onlyAlphabets(event);" ondrop="return false;" onpaste="return false;"
                    id="dummynameentrytxtid">
                </div>

                <div class="col-lg-6 col-md-6">
                  <label class="indlabel"> District Name</label>
                  <span class="mandatory">*</span>
                  <input type="text" class="form-control" placeholder="Enter District Name." tabindex="2" minlength="2"
                    [(ngModel)]="districtnameText" #districtname="ngModel" style=" font-size:12px" required
                    onkeypress="return onlyAlphabets(event);" ondrop="return false;" onpaste="return false;"
                    id="namedistrictid">
                  <div class="invalidmsg" *ngIf="districtname.errors?.minlength">
                    District Name required at least 2 characters long.
                  </div>

                </div>


              </div>
              <span class="invalidmsg" id="msg_errorentry22" style="position: absolute;bottom:10px;"></span>
            </div>

          </div>
        </div>
      </div>
      <!-- Modal footer -->

      <div class="modal-footer" id="modelfooter">
        <div class="container-fluid">
          <div class="actionBar">
            <button id="saveentry" class="mb-2 btn btn-sm btn-success buttonFinish" (click)="vensavebtn1()"><i
                class="material-icons">save</i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>