<!--
Developer 	: Dhammadeep Dahiwale
Date      	: 12-22-2020
Description : Company department
Modified By:  
Update date : 
-->






<div class="content shadow-sm">
  <!-- Main container starts -->
  <div class="container-fluid main-container" id="main-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header" style="padding-top: 0; padding-bottom: 0">

            <!-- <img src="../assets/img/logoicon.svg" alt="" class="w-50px mt-4"> -->
            <h4 class="text-left m-1 fs15">Company Department
              <span class="text-template-primary" style="color: #00ed54">Master</span>
              <button type="button" class="btn btn-sm btn-primaryyel ml-2 float-right"
                style="margin-right: 89px; background-color: #f6c53b" data-toggle="modal" data-target="#exampleModal" id="addnewdep">
                ADD NEW
                <i class="material-icons md-18">navigate_next</i>

              </button>
            </h4>

          </div>
          <div class="card-body" style="padding: 5px;">
            <div class="row justify-content-center">
              <div class="col-md-12 mx-auto">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <!-- <button type="button" class="btn btn-primary float-left" data-toggle="modal" >
                        ADD NEW
                      </button> -->

                  </div>
                </div>



                <div class="container-fluid main-container" id="main-container">




                  <!--    --------------       Table Header Staret    ------------------------    -->

                  <div class="row  mx-1">
                    <div class="col-12 col-sm-12 col-md text-md-left align-self-center pr-0">
                      <ul class="nav  justify-sm-content-center  justify-content-left">
                        <li class="nav-item ">
                          <div class="input-group" style="max-width: 250px;">
                            <input type="text" placeholder="Search" id="searchData" class="form-control searchicon"
                              [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                              <button class="btn  apendbtn" (click)="searchdata()">
                                <i style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </li>
                        <li class="nav-item mx-3">
                          <i class="fa fa-refresh fa-2x fa-spin-hover" style="font-size: 17px;
                          padding-top: 4px;color: #00fff3;" (click)="Refreshfunction()"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="col-12 col-sm-12 col-md-auto text-right text-md-end pl-0">
                      <ul class="nav justify-content-center justify-lg-content-end  justify-sm-content-center">
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer; height: 20px; margin-top: 3px;" (click)="createPDF()"
                            ngbTooltip="PDF" src="assets/images/PDFicon.png">
                        </li>
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                            src="assets/images/excellogo.png">
                        </li>
                        <li class="nav-item mx-3">
                          <span style="display: inline;font-size:12px;font-weight :bold;">Show Rows : </span> <select
                            class="form-control p-1" style="width: 44px;display: inline;" data-live-search="true"
                            tabindex="1" id="selectrow1" aria-hidden="true" [(ngModel)]="itemsPerPage"
                            (change)="CompanyDeptDetails()">

                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                          </select>
                        </li>
                        <li class="nav-item pt-1">
                          <span style="font-size:12px;font-weight: bold;">Total Records : {{viewcount}} of
                            {{totalcount}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- ---------------------  Table header end  ------------------------------ -->

                  <div id="PDFTable" class="card-body table-responsive" #epltable>
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr role="row">
                          <th (click)="sort('rowNumber')">#</th>
                          <th (click)="sort('param2')">Department Name</th>
                          <th (click)="sort('param3')">Department Code</th>
                          <th (click)="sort('param4')">Description</th>
                          <th (click)="sort('param5')">Create Date </th>
                          <th style="background-color: #99c049; text-align: center;">Action</th>
                        </tr>
                      </thead>
                      <tbody id="grid">
                        <tr
                          *ngFor="let item of departmentDetailsArray | filter:filter  | orderBy: key : !reverse | paginate : {itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalcount} ;"
                          class="trheight">
                          <td>{{item.rowNumber}}</td>
                          <td>{{item.param2}}</td>
                          <td>{{item.param3}}</td>
                          <td>{{item.param4}}</td>
                          <td>{{item.param5 | date:'dd-MMM-yyyy HH:mm:ss'}} </td>
                          <td [ngStyle]="{'background-color':item.altColor}" class="viewbtncss">
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard"
                              (click)="setdata(item)">
                              <i class="material-icons" style="color: #161e43">visibility</i>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot id="foot" class="box-footer clearfix">
                        <tr>
                          <td colspan="12">
                            <pagination-controls style=" float: right;" (pageChange)="DepartmentPageChange($event)">
                            </pagination-controls>
                          </td>
                        </tr>
                      </tfoot>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------  view & Edit Modal start------------------------>

<div class="modal fade " id="myModalwizard">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content ">

      <!-- Modal Header -->
      <div class="modal-header modelcolor">
        <h5 class="modal-title" id="vmd" style="display: block;">Company Department Details </h5>
        <h5 class="modal-title" id="uvmd" style="display: none;">Update Company Department</h5>
        <div style="float:right; margin-left: 50%;">
          <button type="button" class=" btn btn-sm btn-secondary float-right ml-2 bg-warning" style="display: block;"
            id="editbtn" ngbTooltip="Edit" (click)="editpageform()">

            <i class="material-icons md-18">edit</i>
          </button>
          <button type="button" class=" btn btn-sm btn-danger float-right ml-2" id="deletebtn" ngbTooltip="Delete"
            data-toggle="modal" data-target="#modeldelete">

            <i class="material-icons md-18">delete</i>
          </button>
          <button type="button" class=" btn btn-sm btn-primary float-right ml-2" id="backdetailsbtn" ngbTooltip="Back"
            style="display: none;" (click)="backdetailsbtn()">

            <i class="material-icons md-18">arrow_back</i>
          </button>
        </div>
        <button type="button" style="color: white" class="close" data-dismiss="modal">&times;</button>
      </div>


      <!-- Modal body -->
      <div class="modal-body " style="background-color: #CBD2F1">
        <div class="container">
          <div class="container-fluid">
            <div id="container" style="display: none;">
              <div class="step-wizard" role="navigation">

                <div class="stepsection">
                  <span class="invalidmsg" id="msg_mainmessage"></span>
                  <div id="step-14" class="stepsdiv">
                    <!-- <span class="StepTitle">Step 1: Basic Details</span> -->
                    <div class="form-group row">

                      <div class="col-lg-5 col-md-5">
                        <label class="indlabel">Department Name</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Department" tabindex="1" required
                          maxlength="12" [(ngModel)]="deptName" #deptNameCtrl="ngModel" id="departmentNameId">
                        <div class="invalidmsg" *ngIf="deptNameCtrl.invalid">
                          Department Name Is Required </div>
                      </div>

                      <div class="col-lg-5 col-md-5">
                        <label class="indlabel">Department Code</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Department" tabindex="1" required
                          maxlength="12" [(ngModel)]="deptCode" #deptCodeCtrl="ngModel" id="deptCodeId">
                        <div class="invalidmsg" *ngIf="deptCodeCtrl.invalid">
                          Department Code is required </div>
                      </div>

                    </div>
                    <div class="form-group row">

                      <div class="col-lg-5 col-md-5">
                        <label class="indlabel">Description </label>
                        <span class="mandatory">*</span>
                        <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Description."
                          tabindex="2" minlength="5" maxlength="30" [(ngModel)]="deptDesc" #deptDescCtrl="ngModel"
                          id="deptDescId"></textarea>
                        <div class="invalidmsg" *ngIf="deptDescCtrl.invalid">
                          Description must be at least minimum 5 characters & maximum 30 characters long.
                        </div>
                      </div>
                      <div class="col-md-5 col-lg-5">
                        <label class="indlabel">Remark</label>
                        <input type="text" class="form-control" [(ngModel)]="remark" id='Remark' required
                          #remarkCtrl="ngModel" minlength="5" maxlength="30" id="remarkId">
                        <div class="invalidmsg" *ngIf="remarkCtrl.invalid">
                          Please Enter Remark </div>
                      </div>


                    </div>
                    <span class="invalidmsg" id="msg_errorupdate"></span>
                  </div>



                </div>
              </div>
            </div>
          </div>
          <!-- --------------------------------------------- View Section ------------------------------------------- -->
          <div class="">


            <div id="vendordtls" class="row" style="background-color: #0e2145; border: 1px ridge #02108d;">
              <div class="col-12 col-md-12 col-lg-12">

                <div class="row" style="background-color: rgb(198 201 202);">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="viewheading">Department Details</div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Department :</span>&nbsp;
                      <span class="viewlable">{{deptName}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Code:</span>&nbsp;
                      <span class="viewlable">{{deptCode}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Description:</span>&nbsp;
                      <span class="viewlable">{{deptDesc}}</span>
                    </div>
                  </div>
                </div>

                <br><br>
              </div>
              <!-- --------------------- View Section End ------------------------------ -->

            </div>

          </div>

        </div>
        <!-- --------------------- View Section End ------------------------------ -->

      </div>


      <!-- Modal footer -->

      <div class="modal-footer" style="display: none;" id="modelfooter">

        <div class="actionBar">

          <button id="next" class="mb-2 btn btn-wizard btn-sm btn-success buttonNext" (click)="UpdateCompanyDept()">
            <i class="material-icons">save</i>
          </button>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- view & Edit model close ------------------------ -->

<!-- ------------------ Delete Model Start ------------------------>

<!-- Delete Model-->
<div class="modal fade" id="modeldelete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	red;">
        <h4 class="modal-title text-center" style="color: yellow">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clear();">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" style="background-color: #f0e8e9">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12">
            <label style="color: black">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Remark" tabindex="1"
              minlength="5" maxlength="40" [(ngModel)]="deleteremark" #remarkCtrl="ngModel"
              id="departmentdelremark"></textarea>
          </div>

        </div>
        <span class="invalidmsg" id="msg_error_delete"></span>
        <p style="    background-color: yellow;
        /* padding-right: 20px; */
        margin-right: 89px;
        color: red; display: none;">Do You want to Delete !!&hellip;</p>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer text-center" style="background-color: #cfbaa8">
        <button type="submit" class="btndel btn-primary mr-3" data-toggle="modal" data-dismiss="modal" tabindex="18"
          (click)="clear();">
          No
        </button>
        <button type="reset" tabindex="19" class="btndel btn-danger" data-toggle="modal" (click)="DeleteCompanyDept()">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model -->

<!-- ------------------- Delete model End ----------------------- -->

<!-- ------------------- onclick no btn model  ----------------------- -->
<!-- The Modal -->
<div class="modal fade" id="Noclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(255, 255, 255);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Your Data is not Delete</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <!-- <div class="modal-body">
          Your Data is Not delete..
        </div> -->

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          <span class="material-icons">
            highlight_off
          </span>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- onclick no btn model End ----------------------- -->
<!-- ------------------- onclick Yes btn model ----------------------- -->

<div class="modal fade" id="Yesclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(255, 255, 255);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Data Deleted Successfully</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <!-- <div class="modal-body">
          Your Data is Not delete..
        </div> -->

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          <span class="material-icons">
            highlight_off
          </span>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="notifymodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(133, 195, 197);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Error</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: white;">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255); margin-right: 0px;">
        <!-- <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="material-icons">
            highlight_off
            </span></button> -->
        <button class="btn btn-success p-0 m-0" data-dismiss="modal">
          <!-- <span class="material-icons">
            highlight_off
          </span> -->
          ok
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="successmodel">
  <div class="modal-dialog modal-sm ">

    <div class="modal-contentno" style="border: 2px solid black;">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color:#17b82c">
        <h4 class="modal-title text-white">Success</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: antiquewhite;">
        {{errorMessage}}
        <div class="text-right">
          <button class="btn btn-sm btn-success" data-dismiss="modal" style="width: 37px;"> ok
          </button>
        </div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer m-0 pt-0 pb-0 bg-secondary">
        <button class="btn btn-success pt-0" data-dismiss="modal"> ok </button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade " id="updateSuccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal" role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-success m-0 p-0">
          <h5>Success</h5>
        </div>
        <div class="card-body bg-white">
          {{errorMessage}}
          <div class="text-right">
            <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="ErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal" role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-warning m-0 p-0">
          <h5>Failed</h5>
        </div>
        <div class="card-body bg-white">
          {{errorMessage}}
          <div class="text-right pt-3">
            <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------- onclick yes btn model End ----------------------- -->

<app-company-department-entry (showDetails)="CompanyDeptDetails()"></app-company-department-entry>