<!--
Developer 	:Dhammadeep dahiwale
Date      	: 16 dec 2020
Description : vehicle bulk entry
Modified By:  
Update date : 
-->
<div class="content shadow-sm">
  <!-- Main container starts -->
  <div class="container-fluid main-container" id="main-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header" style="padding-top: 0; padding-bottom: 0">

            <!-- <img src="../assets/img/logoicon.svg" alt="" class="w-50px mt-4"> -->
            <h4 class="text-left m-1" style="font-size: 19px;">Bulk
              <span class="text-template-primary" style="color: #00ed54; font-size: 19px;">Vehicle Entry</span>
              <!-- <button type="button" class="btn btn-sm btn-primaryyel ml-2 float-right" style="margin-right: 89px;"
                (click)="DevicedetailsClick()">
                DeviceDetails
                <i class="material-icons md-18">navigate_next</i>

              </button> -->

            </h4>

          </div>
          <div class="card-body" style="padding: 5px;">
            <div class="row justify-content-center">
              <div class="col-md-12 mx-auto">
                <div class="row">
                  <div class="col-lg-12 col-md-12">

                  </div>
                </div>


                <div class="container-fluid">
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group row">

                      <div class="col-lg-3 col-md-3">

                        <label class="indlabel"> Upload <span class="mandatory">*</span>
                        </label><br>
                        <input type="file" id="imgInp" (change)="selectFile($event)"><br><br>
                        <!-- <img id="blah" src="#" alt="your image" style="height:70px; width:140px;" /> <br><br> -->

                      </div>
                      <div class="col-lg-3 col-md-3" style=" margin-left: -100px;">
                        <br>
                        <button type="button" class="btn btn-sm btn-primary ml-2 float-right"
                          style="margin-right: 174px; margin-top: 7px;" (click)="upload()">
                          Upload
                          <i class="material-icons md-18">cloud_upload</i>

                        </button>
                      </div>


                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <div class="form-group row">
                    </div>
                  </div>
                </div>
                <div class="container-fluid main-container" id="main-container" style="display: block;">
                  <!--    ---------------        Table Header Staret=------------------------    -->
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2">

                        <!-- <div class="search">
                             <input type="text" class="searchTerm" placeholder="Search here">
                             <button type="submit" class="searchButton">
                               <i class="fa fa-search"></i>
                            </button>
                          </div> -->
                        <div class="input-group">

                          <input type="text" placeholder="Search" class="form-control searchicon " id="searchData"
                            [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <button class="btn  apendbtn" (click)="searchdata()"><i
                                style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i> </button>
                          </div>
                        </div>

                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-refresh fa-2x fa-spin-hover" style="font-size: 17px;
                      padding-top: 4px;
                      color: #00fff3;" (click)="Refreshfunction()"></i>
                      </div>

                      <div class="col-md-2">

                      </div>
                      <div class="col-md-2">
                        <!-- <i class="fa fa-file-pdf-o" style="font-size:26.5px;color:rgb(250, 77, 77)"></i>&nbsp; -->
                        <!-- &nbsp; <button type="submit" class="btn btn-sm" style="background-color:white; float: right;"><img src="assets/images/pdflogo.png"></button> &nbsp; 
                   &nbsp; <i  class="fa fa-file-excel-o"  aria-hidden="true" style="font-size:26.5px; float: right; padding-right: 10px;  color:rgb(109, 255, 109) "></i> &nbsp; -->
                      </div>
                      <!-- <i class="fa fa-refresh fa-2x fa-spin-hover" style="padding-top: 2px;"></i>   -->

                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-3">
                            <!-- <i class="fa fa-file-pdf-o" style="font-size:26.5px;color:rgb(250, 77, 77)"></i>&nbsp; -->
                            <img style="float: right; cursor: pointer; height: 20px; margin-top: 3px;"
                              (click)="createPDF()" ngbTooltip="PDF" src="assets/images/PDFicon.png">
                            <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                              src="assets/images/excellogo.png">
                          </div>

                          <!-- <span style="padding-top: 0px; font-size: 12px;
                  font-weight: bold; float: right;">Show Rows: </span>
                          <div class="col-md-1">
                            <div style="padding-top: 2px; width: 45px;">
                              <select class="form-control form-control-sm" data-live-search="true" tabindex="1"
                                [(ngModel)]="itemsPerPage" id="selectrow" (change)="SelectRows()" aria-hidden="true"
                                style=" font-size:12px">
                                <option value="5" selected>5</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                              </select>
                            </div>
                          </div> -->
                          <div class="col-md-5" style="text-align: right; font-size: 12px;
                  font-weight: bold;">

                            <span> Total Records&nbsp;:&nbsp;{{itemsPerPage}}&nbsp;of&nbsp;{{totalcount}}</span>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                  <!-- ---------------------  Table header end  ------------------------------ -->


                  <div id="PDFTable" class="card-body table-responsive" #epltable>
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr role="row">
                          <th><span>#</span> </th>
                          <th><span> device type</span></th>
                          <!-- <th (click)="sort('rowNumber')">CIN No</th> -->
                          <th><span>imei number</span></th>
                          <th> <span>vehicle type</span> </th>
                          <th><span>vehicle number</span></th>
                          <th>Vehicle make</th>
                          <th>upload status</th>
                          <th>message</th>
                          <!-- <th style="background-color: #99c049;">Action</th> -->
                        </tr>
                      </thead>
                      <tbody id="grid">
                        <tr
                          *ngFor="let item of installationTable | filter:filter | orderBy: key : !reverse | paginate : {itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalcount} ;"
                          class="trheight">
                          <td>{{item.recordNumber}} </td>
                          <td>{{item.param1}} </td>
                          <td>{{item.param2}} </td>
                          <td>{{item.param3}} </td>
                          <td>{{item.param4}} </td>
                          <td>{{item.param5}} </td>
                          <td>{{item.exceptionDetails}} </td>
                          <td>{{item.message}} </td>


                          <!-- <td>
                            <div class="btn-group" role="group" ngbDropdown>
                              <button id="btnGroupDrop1" class="btn btn-link dropdown-toggle active " ngbDropdownToggle>
                             
                              </button >
                              <!-- <span class="dropdown-toggle" ngbDropdownToggle> 
                                  <i class="material-icons">more_horiz</i>
                              </span> 
                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" ngbDropdownMenu>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModalview">
                                  View
                                </button>
                              </div>
                            </div>
                          </td> -->
                          <!-- <td style="background-color: #a8c5ff;
                          text-align: center; width: 30px;">
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard" (click)="setdata(com)">
                              <i class="material-icons" style="color: #161e43">visibility</i>
                            </span>
                          </td> -->
                        </tr>
                        <!-- <tr>
                          <td>2</td>
                          <td>Indtrack</td>
                          <td>abc@gmail.com</td>
                          <td>123521763567</td>
                          <td>123521567</td>
                          <td>9767644776</td>
                          <td>Maharashtra</td>
                          <td>Nagpur</td>
                          <td>Nagpur</td>
                          <td class="font-weight-bold statustd" style="color: red; background-color: #f1c6c6;
                          text-align: center; ">Pending</td>

                          <td style="background-color: rgb(229 234 255);
                          text-align: center; width: 30px;">
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard">
                              <i class="material-icons" style="color: black">visibility</i>
                            </span>
                          </td>
                        </tr>    -->
                        <!-- <tr>
                          <td>3</td>
                          <td>Indtrack</td>
                          <td>abc@gmail.com</td>
                          <td>123521763567</td>
                          <td>123521567</td>
                          <td>9767644776</td>
                          <td>Maharashtra</td>
                          <td>Nagpur</td>
                          <td>Nagpur</td>
                          <td class="font-weight-bold statustd" style="color: red ">Pending</td>

                          <td>
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard">
                              <i class="material-icons" style="color: white">visibility</i>
                            </span>
                          </td>
                        </tr> -->
                        <!-- <tr>
                          <td>4</td>
                          <td>Indtrack</td>
                          <td>abc@gmail.com</td>
                          <td>123521763567</td>
                          <td>123521567</td>
                          <td>9767644776</td>
                          <td>Maharashtra</td>
                          <td>Nagpur</td>
                          <td>Nagpur</td>
                          <td class="font-weight-bold statustd" style="color: rgb(0, 255, 0) ">Completed</td>

                          <td>
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard">
                              <i class="material-icons" style="color: white">visibility</i>
                            </span>
                          </td>
                        </tr>
                        <tr style="height: 5px;">
                          <td>5</td>
                          <td>Indtrack</td>
                          <td>abc@gmail.com</td>
                          <td>123521763567</td>
                          <td>123521567</td>
                          <td>9767644776</td>
                          <td>Maharashtra</td>
                          <td>Nagpur</td>
                          <td>Nagpur</td>
                          <td class="font-weight-bold statustd" style="color: red ">Pending</td>

                          <td>
                            <span class="iconhover" data-toggle="modal" data-target="#myModalwizard">
                              <i class="material-icons " style="color: white">visibility</i>
                            </span>
                          </td>
                        </tr> -->


                      </tbody>


                    </table>
                    <!-- <div class="float-right mt-3">
                        <nav class="mb-4">
                            <ul class="pagination pagination-circular justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="material-icons">keyboard_arrow_left</i></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link " href="#">1</a>
                                </li>
                                <!-- <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li> --
                                
                                
                                <li class="page-item">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------  view & Edit Modal start------------------------>



<!-- ------------------- view & Edit model close ------------------------ -->

<!-- ------------------ Delete Model Start ------------------------>
<!-- Developer 	: Aditya Londhe
Date      	: 30-11-2020
Description : Added a popup for Delete
Modified By:  
Update date : -->
<!-- Delete Model-->
<div class="modal fade" id="modeldelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	red;">
        <h4 class="modal-title text-center" style="color: yellow">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: #f0e8e9">

        <div class="form-group row">


          <div class="col-lg-12 col-md-12">
            <label style="color: black">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Remark" tabindex="1"
              minlength="10" maxlength="40" [(ngModel)]="remark" #regaddress="ngModel" id="vendelremark"></textarea>

          </div>

        </div>
        <span class="invalidmsg" id="msg_error_delete">{{successMessageUpdate}}</span>
        <p style="    background-color: yellow;
          /* padding-right: 20px; */
          margin-right: 89px;
          color: red; display: none;">Do You want to Delete !!&hellip;</p>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer text-center" style="background-color: #cfbaa8">
        <button type="submit" class="btndel btn-primary mr-3" data-toggle="modal" data-dismiss="modal" tabindex="18">
          No
        </button>
        <button type="reset" tabindex="19" class="btndel btn-danger " data-toggle="modal" data-dismiss="modal">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model -->

<!-- ------------------- Delete model End ----------------------- -->

<!-- ------------------- onclick no btn model  ----------------------- -->
<!-- The Modal -->
<div class="modal fade" id="Noclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(133, 195, 197);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Error</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: white;">
        Your Data is Not delete..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="material-icons">
            highlight_off
          </span></button>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- onclick no btn model End ----------------------- -->
<!-- ------------------- onclick Yes btn model ----------------------- -->

<div class="modal fade" id="Yesclickmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(133, 195, 197);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Successfully</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: white;">
        Your Data is delete..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255);">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="material-icons">
            highlight_off
          </span></button>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- onclick yes btn model End ----------------------- -->

<div class="modal fade" id="notifymodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(133, 195, 197);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Error</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: white;">
        {{datafromrespo}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255); margin-right: 0px;">
        <!-- <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="material-icons">
            highlight_off
            </span></button> -->
        <button class="btn btn-success" data-dismiss="modal"><span class="material-icons">
            highlight_off
          </span></button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="successmodel">
  <div class="modal-dialog modal-sm">
    <div class="modal-contentno">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	rgb(124, 255, 146);">
        <h4 class="modal-title text-center" style="color: rgb(0, 0, 0)">Success</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: white;">
        {{datafromrespo}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: 	rgb(255, 255, 255); margin-right: 0px;">
        <!-- <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><span class="material-icons">
            highlight_off
            </span></button> -->
        <button class="btn btn-success" style="width: 36px;" data-dismiss="modal"><span class="material-icons">
            check_circle_outline
          </span></button>
      </div>

    </div>
  </div>
</div>

<!-- <app-devicesingleentry></app-devicesingleentry> -->
<!-- <app-devicebulkentry></app-devicebulkentry> -->