<!-- Main container starts -->
<div class="container-fluid main-container pt-0" id="main-container">
  <div class="row">
      <div class="position-relative w-100  backimg">
          <div class="background" >
              <img src="../assets/img/background-part.png" style="height: 170px; width: 100%;" alt="">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="container">
          <div class="row top-100">
              <div class="col-12 col-md-4 col-lg-3 pb-4">
                  <div class="row">
                      <div class="col-12 text-center">
                          <figure class="avatar avatar-180 rounded-circle shadow  mx-auto">
                              <img src="../assets/img/user1.png" alt="">
                          </figure>
                      </div>
                  </div>
              </div>
              <div class="col mt-3">
                  <h3 class="text-white">Maxartkiller</h3>
                  <p class="text-mute text-white">Working as: Maxartkiller as UX Designer
                  </p>
                  <div class="row pt-4">
                      <div class="col-auto">
                          <h4 class="mb-1">10k</h4>
                          <a href="#">Following</a>
                      </div>
                      <div class="col-auto">
                          <h4 class="mb-1">10k</h4>
                          <a href="#">Likes</a>
                      </div>
                      <div class="col-auto">
                          <h4 class="mb-1">500</h4>
                          <a href="#">Friends</a>
                      </div>
                  </div>
              </div>
              <div class="col-auto my-3">
                  <!-- <button class="btn btn-sm btn-outline-primary"><i class="material-icons md-18 mr-2">person_add</i> </button> -->
                  <a href="/editprofile" type="button" class="btn btn-sm btn-primary ml-2"><i class="material-icons md-18 mr-2">create</i> Edit</a>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="container">
          <div class="row">
              

              <div class="col">
                  <div class="card mb-4 shadow-sm border-0">
                      <div class="card-body">
                          <div class="page-subtitle">Personal Details</div>
                          <div class="row">
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="form-group">
                                      <label>Birth Date</label>
                                      <p>25/10/1981</p>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="form-group">
                                      <label>Gender</label>
                                      <p>Male</p>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                  <div class="form-group">
                                      <label>Email Address</label>
                                      <p>info@maxartkiller.com</p>
                                  </div>
                              </div>
                          </div>
                          <h6 class="page-subtitle"><span>About</span></h6>

                          <p class="text-mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut labore et dolore magna aliqua.</p>

                          <p><i class="material-icons vm mr-2 text-template-primary-light">card_travel</i> Working at: <span class="text-mute-high">UX Designer at <a href="">maxartkiller.com</a></span></p>
                          <p><i class="material-icons vm mr-2 text-template-primary-light">class</i> Studied at: <span class="text-mute-high">London bridge University, London, UK</span></p>
                          <p><i class="material-icons vm mr-2 text-template-primary-light">location_on</i> Lives in: <span class="text-mute-high">London, UK</span></p>

                          <div class="card mb-4 shadow-sm">
                              <div class="card-header border-bottom">
                                  <div class="media">
                                      <div class="icons icon-circle icon-40 bg-light-primary text-primary mr-3">
                                          <i class="material-icons">business</i>
                                      </div>
                                      <div class="media-body">
                                          <h6 class="my-0 template-primary">Experience</h6>
                                          <p class="text-template-primary-light">Currently working in Lighthearts since 2017</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-body p-0">
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item">
                                          <div class="media experience">
                                              <div class="icons icon-rounded icon-40 bg-light-success mr-3">
                                                  <i class="material-icons text-success">camera</i>
                                              </div>
                                              <div class="media-body">
                                                  <h6>Lighthearts</h6>
                                                  <p class="mb-1 small text-template-primary-light">9-2018 to currently</p>
                                                  <p class="text-mute-high">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="media experience">
                                              <div class="icons icon-rounded icon-40 bg-light-primary mr-3">
                                                  <i class="material-icons text-primary">local_library</i>
                                              </div>
                                              <div class="media-body">
                                                  <h6>Swastics India</h6>
                                                  <p class="mb-1 small text-template-primary-light">11-2015 to 5-2018</p>
                                                  <p class="text-mute-high">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="media experience">
                                              <div class="icons icon-rounded icon-40 bg-light-danger mr-3">
                                                  <i class="material-icons text-danger">all_inclusive</i>
                                              </div>
                                              <div class="media-body">
                                                  <h6>Microsofty</h6>
                                                  <p class="mb-1 small text-template-primary-light">1-2014 to 11-2015</p>
                                                  <p class="text-mute-high">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>


                          <div class="card mb-4 shadow-sm">
                              <div class="card-header border-bottom">
                                  <div class="media">
                                      <div class="icons icon-circle icon-40 bg-light-warning mr-3">
                                          <i class="material-icons">ac_unit</i>
                                      </div>
                                      <div class="media-body">
                                          <h6 class="my-0 template-primary">Skills</h6>
                                          <p class="text-template-primary-light">Head of User Experience design</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-body p-0">
                                  <ul class="list-group list-group-flush w-100">
                                      <li class="list-group-item">
                                          <div class="media experience">
                                              <div class="icons icon-circle icon-40 bg-light-primary mr-3">
                                                  <i class="material-icons">camera</i>
                                              </div>
                                              <div class="media-body">
                                                  <h6>User experience Design</h6>
                                                  <p class="mb-1 text-template-primary-light">Master in interaction design</p>
                                                  <p class="text-mute-high">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="media experience">
                                              <div class="icons icon-circle icon-40 bg-light-primary mr-3">
                                                  <i class="material-icons">local_library</i>
                                              </div>
                                              <div class="media-body">
                                                  <h6>UI design</h6>
                                                  <p class="mb-1 text-template-primary-light">Bechlore from Standform Univercity</p>
                                                  <p class="text-mute-high">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          
                          <h6 class="page-subtitle mt-0"><span>Recent Posts</span></h6>
                          <div class="card mb-4 shadow-sm">
                      <div class="card-header border-bottom">
                          <div class="media">
                              <figure class="avatar avatar-40 mr-2">
                                  <img src="../assets/img/user5.png" alt="Generic placeholder image">
                              </figure>
                              <div class="media-body">
                                  <h6 class="mb-1">Mariyam Saxena</h6>
                                  <p class="mb-0 text-template-primary-light small">7-11-2018 | Public</p>
                              </div>
                              <div class="dropdown d-inline-block">
                                  <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="material-icons">more_horiz</i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                      <a href="" class="dropdown-item">Refresh</a>
                                      <a href="" class="dropdown-item">Setting</a>
                                      <a href="" class="dropdown-item">Close</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <p class="mb-0 text-mute">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>
                      <div class="card-footer border-top py-2">
                          <div class="row">
                              <div class="col">
                                  <button class="btn btn-link btn-sm text-template-primary-light"><i class="material-icons text-danger">favorite_border</i> <span class="text-hide-xs">Like</span></button>
                                  <button class="btn btn-link btn-sm text-template-primary-light"><i class="material-icons text-warning">chat</i> <span class="text-hide-xs">Comments</span></button>
                                  <button class="btn btn-link btn-sm text-template-primary-light"><i class="material-icons text-success">share</i> <span class="text-hide-xs">Share</span></button>

                              </div>
                              <div class="col-auto ">
                                  <button class="btn btn-link btn-sm text-template-primary-light"><i class="material-icons">equalizer</i> <span class="text-hide-xs">Analytics</span></button>
                              </div>
                          </div>
                      </div>
                  </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
<!-- Main container ends -->