<!--
Developer 	: Aditya Londhe
Date      	: 18-09-2020
Description : Vendor Master Module
Modified By:  
Update date : 
-->
<div class="content shadow-sm">
  <!-- Main container starts -->
  <div class="container-fluid main-container" id="main-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header" style="padding-top: 0; padding-bottom: 0">

            <!-- <img src="../assets/img/logoicon.svg" alt="" class="w-50px mt-4"> -->
            <h4 class="text-left m-1 fs15">Customer
              <span class="text-template-primary" style="color: #00ed54">Master</span>
              
            </h4>

          </div>

          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="card mb-12 border-0 shadow-sm">
                <div class="card-header p-0 border-0 bg-none">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="tabhome125-tab" data-toggle="tab" href="#tabhome125" role="tab"
                        aria-controls="tabhome125" aria-selected="true">
                        Customer Details
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tabhome225-tab" data-toggle="tab" href="#tabhome225" role="tab"
                        aria-controls="tabhome225" aria-selected="false">
                        Vehicle Assign To Customer
                      </a>
                    </li>
                  </ul>
                </div>
          <div class="card-body togglebody" style="padding: 5px;">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabhome125" role="tabpanel"
                aria-labelledby="tabhome125-tab">
                <div class="card-body" style="padding: 0px;" id="liveblock" style="display: block;">
                    <button type="button" class="btn btn-sm btn-primaryyel ml-2 float-right" style="margin-right: 89px;"
                      data-toggle="modal" data-target="#exampleModal">
                      ADD NEW
                      <i class="material-icons md-18">navigate_next</i>
      
                    </button>
                 
            <div class="row justify-content-center">
              <div class="col-md-12 mx-auto">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <!-- <button type="button" class="btn btn-primary float-left" data-toggle="modal" >
                        ADD NEW
                      </button> -->

                  </div>
                </div>

                <div class="container-fluid main-container" id="main-container">

                  <!--    ---------------        Table Header Staret=------------------------    -->

                  <div class="row  mx-1">
                    <div class="col-12 col-sm-12 col-md text-md-left align-self-center pr-0">
                      <ul class="nav  justify-sm-content-center  justify-content-left">
                        <li class="nav-item ">
                          <div class="input-group" style="max-width: 250px;">
                            <input type="text" placeholder="Search" id="searchData" class="form-control searchicon"
                              [(ngModel)]="filter" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                              <button class="btn  apendbtn" (click)="searchdata()">
                                <i style="color: #00ed54; margin-top: -15px;" class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </li>
                        <li class="nav-item mx-3">
                          <i class="fa fa-refresh fa-2x fa-spin-hover"
                            style="font-size: 17px;padding-top: 4px;color: #00fff3;" (click)="Refreshfunction()"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="col-12 col-sm-12 col-md-auto text-right text-md-end pl-0">
                      <ul class="nav justify-content-center justify-lg-content-end  justify-sm-content-center">
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer; height: 20px; margin-top: 3px;" (click)="exportToPDF()"
                            ngbTooltip="PDF" src="assets/images/PDFicon.png">
                        </li>
                        <li class="nav-item mx-2">
                          <img style="cursor: pointer;" (click)="exportToExcel()" ngbTooltip="Excel"
                            src="assets/images/excellogo.png">
                        </li>
                        <li class="nav-item mx-3">
                          <span style="display: inline;font-size:12px;font-weight :bold;">Show Rows : </span> <select
                            class="form-control p-1" style=" width: 44px; display: inline;" ata-live-search="true"
                            tabindex="1" [(ngModel)]="selectRowsText" id="selectrow1" (change)="SelectRows()"
                            aria-hidden="true">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                          </select>
                        </li>
                        <li class="nav-item pt-1">
                          <span style="font-size:12px;font-weight: bold;">Total Records : {{viewcount}} of
                            {{count}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- ---------------------  Table header end  ------------------------------ -->


                  <div id="PDFTable" class="card-body table-responsive" #epltable style=" width: 119%; ">
                    <table class="table table-hover table-striped">
                <thead>
                  <tr role="row">
                    <th (click)="sort('rowNumber')"># </th>
                    <th style=" display:none;">Customer ID</th>
                    <th style=" display:none;">Customer Alternate No.</th>
                    <th style=" display:none;">Customer Pincode</th>
                    <th style=" display:none;">Customer Organization Name</th>
                    <th style=" display:none;">Customer Creator Login ID</th>
                    <th style=" display:none;">Customer Flag</th>
                    <th style=" display:none;">Distributor Name</th>
                    <th style=" display:none;">Dealer Name</th>
                    <th style=" display:none;">Dealer ID</th>
                    <th style=" display:none;">Distributor ID</th>
                    <th style=" display:none;">State ID</th>
                    <th style=" display:none;">City ID</th>
                    <th style=" display:none;">Customer Type ID</th>
                    <th style=" display:none;">Customer Category ID</th>
                    <th style=" display:none;">Customer Area</th>
                    <th style=" display:none;">Customer Landmark</th>
                    <th><span (click)="sort('param27')">Customer Type</span></th>
                    <th><span (click)="sort('param3')">Customer Category</span></th>
                    <th><span (click)="sort('param2')">Customer Name</span></th>
                    <th><span (click)="sort('param4')">Mobile No.</span></th>
                    <th><span (click)="sort('param5')">Email Id</span></th>
                    <th><span (click)="sort('param7')">Address</span></th>

                    <th><span (click)="sort('param8')">City</span></th>
                    <th><span (click)="sort('param9')">State</span></th>
                    <th style="background-color: #99c049; text-align: center;">Action</th>
                  </tr>
                </thead>
                <tbody id="grid">
                  <tr
                    *ngFor="let com of CustomerDetails$ | filter:filter | orderBy: key : reverse | paginate : {itemsPerPage:pagecount,currentPage:p,totalItems:count} ;"
                    class="trheight">

                    <td>{{com.rowNumber}}</td>
                    <td style=" display: none;">{{com.param1}}</td>
                    <td style=" display: none;">{{com.param6}}</td>
                    <td style=" display: none;">{{com.param10}}</td>
                    <td style=" display: none;">{{com.param11}}</td>
                    <td style=" display: none;">{{com.param12}}</td>
                    <td style=" display: none;">{{com.param13}}</td>
                    <td style=" display: none;">{{com.param14}}</td>
                    <td style=" display: none;">{{com.param15}}</td>
                    <td style=" display: none;">{{com.param17}}</td>
                    <td style=" display: none;">{{com.param18}}</td>
                    <td style=" display: none;">{{com.param19}}</td>
                    <td style=" display: none;">{{com.param20}}</td>
                    <td style=" display: none;">{{com.param21}}</td>
                    <td style=" display: none;">{{com.param22}}</td>
                    <td style=" display: none;">{{com.param23}}</td>
                    <td style=" display: none;">{{com.param24}}</td>
                    <td>{{com.param27}}</td>
                    <td>{{com.param3}}</td>
                    <td>{{com.param2}}</td>
                    <td>{{com.param4}}</td>
                    <td>{{com.param5}}</td>
                    <td>{{com.param7}}</td>

                    <td>{{com.param8}}</td>
                    <td>{{com.param9}}</td>

                    <td [ngStyle]="{'background-color':com.altColor}" class="viewbtncss">
                      <span class="iconhover" data-toggle="modal" data-target="#myModalwizard"
                        (click)="setdata(com)">
                        <i class="material-icons" style="color: #161e43">visibility</i>
                      </span>
                    </td>
                  </tr>



                </tbody>
                <tfoot id="foot" class="box-footer clearfix">
                  <tr>
                    <td colspan="12">
                      <pagination-controls style=" float: right;" (pageChange)="CustomerpageChanged($event)">
                      </pagination-controls>
                    </td>
                  </tr>
                </tfoot>
              </table>
                   
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="tabhome225" aria-labelledby="tabhome225-tab">

                <app-vehicleassigntocustomer></app-vehicleassigntocustomer>
              </div>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------  view & Edit Modal start------------------------>

<div class="modal fade " id="myModalwizard" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content ">

      <!-- Modal Header -->
      <div class="modal-header modelcolor">
        <h5 class="modal-title" id="vmd" style="display: block;">Customer Master Details</h5>
        <h5 class="modal-title" id="uvmd" style="display: none;">Update Customer Master</h5>
        <div style="float:right; margin-left: 56%;">
          <button type="button" class=" btn btn-sm btn-secondary float-right ml-2 bg-warning" style="display: block;"
            id="editbtn" ngbTooltip="Edit" (click)="editpageform()">

            <i class="material-icons md-18">edit</i>
          </button>
          <button type="button" class=" btn btn-sm btn-danger float-right ml-2" id="deletebtn" ngbTooltip="Delete"
            data-toggle="modal" data-target="#modeldelete">

            <i class="material-icons md-18">delete</i>
          </button>
          <button type="button" class=" btn btn-sm btn-primary float-right ml-2" id="backdetailsbtn" ngbTooltip="Back"
            style="display: none;" (click)="backdetailsbtn()">

            <i class="material-icons md-18">arrow_back</i>
          </button>
        </div>
        <button type="button" style="color: white" class="close" data-dismiss="modal"
          (click)="clearfunction();">&times;</button>
      </div>


      <!-- Modal body -->
      <div class="modal-body" style="background-color: #CBD2F1;">
        <div class="container">
          <div class="container-fluid">
            <div id="container" style="display: none;">
              <div class="step-wizard" role="navigation">
                <div class="progress">
                  <div class="progressbar empty"></div>
                  <div id="prog" class="progressbar"></div>
                </div>
                <ul>
                  <li class="active">
                    <button id="step1">
                      <div class="step">1</div>
                      <div class="title">Basic Details</div>
                    </button>
                  </li>
                  <!-- <li class="" style="display: none;">
                    <button id="step2">
                      <div class="step">2</div>
                      <div class="title">Contact Details</div>
                    </button>
                  </li> -->
                  <li class="">
                    <button id="step3">
                      <div class="step">2</div>
                      <div class="title">Contact Details</div>
                    </button>
                  </li>
                  <!-- <li class="" style="display: none;">
                    <button id="step4"> 
                      <div class="step">4</div>
                      <div class="title">Successful</div>
                    </button>
                  </li>  -->
                </ul>


                <div class="stepsection">
                  <span class="invalidmsg" id="msg_mainmessage"></span>
                  <div id="step-14" class="stepsdiv">
                    <!-- <span class="StepTitle">Step 1: Basic Details</span> -->
                    <div class="form-group row">
                      <!-- <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Distributor Name</label>
                        <span class="mandatory">*</span>
                        <select class="form-control" id="distrbutorname" data-live-search="true" [(ngModel)]="distributor_name" tabindex="8" placeholder="Select Distributor."  aria-hidden="true" style=" font-size:12px">
                          <option *ngFor = "let list of ListOfDistributor$" value={{list.param1}} >{{list.param2}}</option>
                         
                        </select>
                       

                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div> -->
                      <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Distributor Name</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="0" id="distrbutorname" [multiple]="false"
                          [(ngModel)]="distributor_id" [config]="config" [options]="ListOfDistributor" (change)="getDistId()">
                        </ngx-select-dropdown>



                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy Distributorname</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="distdummyupdate" onpaste="return false;"
                          [(ngModel)]="selectdistributoridreturn" #vendornm="ngModel" ondrop="return false;">
                      </div>
                      <!-- <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Dealer Name</label>
                        <span class="mandatory">*</span>
                        <select class="form-control" id="dealername" data-live-search="true" [(ngModel)]="dealer_name" tabindex="8" placeholder="Select City."  aria-hidden="true" style=" font-size:12px">
                          <option *ngFor =  "let list of ListOfDealer$" value={{list.param1}} >{{list.param2}}</option>
                         
                        </select>

                        <span class="invalidmsg" id="msg_State"></span>
                      </div> -->
                      <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Dealer Name</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="1" id="dealername" [multiple]="false" [(ngModel)]="dealer_id"
                          [config]="config" [options]="ListOfDealer" (change)="getDealerId()"></ngx-select-dropdown>



                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy Dealername</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="dealerdummyupdate" onpaste="return false;"
                          [(ngModel)]="selectdealeridreturn" #vendornm="ngModel" ondrop="return false;">
                      </div>
                      <!-- <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Customer Type</label>
                        <span class="mandatory">*</span>
                        <select class="form-control" id="customertype" data-live-search="true" [(ngModel)]="customer_type" tabindex="8" placeholder="Select City."  aria-hidden="true" style=" font-size:12px">
                            <option *ngFor =  "let list of ListOfCustomerType$" value={{list.param2}} >{{list.param2}}</option>
                           
                          </select>
                         

                        <span class="invalidmsg" id="msg_State"></span>
                      </div> -->
                      <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Customer Type</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="2" id="customertype" [multiple]="false"
                          [(ngModel)]="customer_type" [config]="config" [options]="ListOfCustomerType" (change)="getCtypeId()">
                        </ngx-select-dropdown>



                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy Customer Type</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="customertypedummyupdate" onpaste="return false;"
                          [(ngModel)]="selectcusttypereturn" #vendornm="ngModel" ondrop="return false;">
                      </div>
                    </div>
                    <div class="form-group row">
                      <!-- <div class="col-lg-4 col-md-4">
                              <label class="indlabel">Customer Category</label>
                              <span class="mandatory">*</span>
                              <select class="form-control" id="customercategory" data-live-search="true" [(ngModel)]="cust_catagory" tabindex="8" placeholder="Customer Catagory."  aria-hidden="true" style=" font-size:12px">
                                <option *ngFor =  "let list of ListOfCustomerCategory$" value={{list.param2}} >{{list.param2}}</option>
                               
                              </select>
                              
      
                              <span class="invalidmsg" id="msg_State"></span>
                            </div> -->
                      <div class="col-lg-4 col-md-4">
                        <label class="indlabel">Customer Category</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="3" id="customercategory" [multiple]="false"
                          [(ngModel)]="customer_catog" [config]="config" [options]="ListOfCustomerCategory"
                          (change)="custcategoryfunction()">
                        </ngx-select-dropdown>



                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy Customer Category</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="customercategdummyupdate1" onpaste="return false;"
                          [(ngModel)]="selectcustcatogreturn1" #vendornm="ngModel" ondrop="return false;">
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <label class="indlabel"> Company Name</label>
                        <span class="mandatory" id="starsymbolname">*</span>
                        <input type="text" class="form-control" placeholder="Enter Company Name." tabindex="9"
                          minlength="3" maxlength="70" [(ngModel)]="company_name" #compname="ngModel"
                          style=" font-size:12px" required onkeypress="return onlyAlphabets(event);"
                          ondrop="return false;" onpaste="return false;" id="companyname">
                        <div class="invalidmsg" *ngIf="compname.errors?.minlength">
                          Company name must be at least minimum 3 characters & maximum 70 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_pername"></span>
                      </div>
                    </div>
                    <br><br><br><br> <br><br><br>
                    <span class="invalidmsg" id="msg_error"></span>
                  </div>

                  <div id="step-15" class="stepsdiv" style="display: none;">

                    <!-- <span class="StepTitle">Step 2: Contact Details</span> -->
                    <div class="form-group row">
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Customer Name</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Person Name." tabindex="9"
                          minlength="3" maxlength="50" [(ngModel)]="customer_name" #pername="ngModel"
                          style=" font-size:12px" required onkeypress="return onlyAlphabets(event);"
                          ondrop="return false;" onpaste="return false;" id="pernameup">
                        <div class="invalidmsg" *ngIf="pername.errors?.minlength">
                          Name must be 3 to 50 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_pername"></span>
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Contact No</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Contact No" tabindex="1" required
                          minlength="10" maxlength="12" id="contactNoup" [(ngModel)]="cust_mobno" #contactNo="ngModel"
                          required onkeypress="return isNumberKey(event)">
                        <div class="invalidmsg" *ngIf="contactNo.errors?.minlength">
                          Contact no. must be 10 or 12 digits.
                        </div>
                        <span class="invalidmsg" id="msg_contactNo"></span>
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Alternate No</label>
                        <input type="text" class="form-control" placeholder="Enter Alternate Contact No" tabindex="1"
                          required minlength="10" maxlength="12" id="alternateNoup" [(ngModel)]="cust_alt_mobno"
                          #alternateNo="ngModel" required onkeypress="return isNumberKey(event)">
                        <div class="invalidmsg" *ngIf="alternateNo.errors?.minlength">
                          Alternate no. must be 10 or 12 digits.
                        </div>
                        <span class="invalidmsg" id="msg_alternateNo"></span>
                      </div>

                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Email Id</label>&nbsp;
                        <!-- <span class="indlabelstar">*</span> -->
                        <input type="email" class="form-control" style=" font-size:12px" placeholder="Enter Email Id. "
                          tabindex="11" minlength="13" maxlength="30" [(ngModel)]="cust_email" #personemail="ngModel"
                          id="officialEmailup">

                        <div class="invalidmsg" *ngIf="personemail.errors?.minlength">
                          Email must be 13 to 30 characters long.
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <!--  Developer : Aditya Londhe 
      Description : Changes of dropdown (multiselect) searchable dropdown added-->

                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">State</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="9" id="stateup" [multiple]="false" [(ngModel)]="cust_state"
                          (change)="Citylist()" [config]="config" [options]="ListOfState"></ngx-select-dropdown>

                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy State</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="statedummyupdate" onpaste="return false;"
                          [(ngModel)]="selectstatereturn" #vendornm="ngModel" ondrop="return false;">
                      </div>


                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">City</label>
                        <span class="mandatory">*</span>

                        <ngx-select-dropdown tabindex="9" id="cityup" [multiple]="false" [(ngModel)]="cust_city"
                          [config]="config" [options]="ListOfCity" (change)="getCityId()"></ngx-select-dropdown>

                        <span class="invalidmsg" id="msg_vendorName"></span>
                      </div>
                      <div class="col-lg-4 col-md-4" style="display: none;">
                        <label class="indlabel">Dummy City</label>
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" placeholder="Enter Device IMEI No" tabindex="1" required
                          minlength="3" maxlength="50" id="citydummyupdate" onpaste="return false;"
                          [(ngModel)]="selectcityreturn" #vendornm="ngModel" ondrop="return false;">
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Area.</label>&nbsp;
                        <!-- <span class="mandatory">*</span> -->
                        <textarea class="form-control" rows="1" style=" font-size:12px" placeholder="Enter Area."
                          tabindex="15 " minlength="5" maxlength="100" [(ngModel)]="AreaText" id="areaup"
                          #area="ngModel" onkeypress="avoidSplChars(event)"></textarea>
                        <div class="invalidmsg" *ngIf="area.errors?.minlength">
                          Area must be 5 to 80 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_pincode"></span>
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Land Mark.</label>&nbsp;
                        <!-- <span class="mandatory">*</span> -->
                        <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Land Mark."
                          tabindex="15 " minlength="5" maxlength="100" [(ngModel)]="landmarkText" id="landmarkup"
                          #landmark="ngModel" onkeypress="avoidSplChars(event)"></textarea>
                        <div class="invalidmsg" *ngIf="landmark.errors?.minlength">
                          Land Mark must be 5 to 80 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_pincode"></span>
                      </div>
                    </div>
                    <div class="form-group row">

                      <div class="col-lg-5 col-md-5">
                        <label class="indlabel">Reg. Address</label>
                        <span class="indlabelstar">*</span>
                        <textarea class="form-control" rows="2" style=" font-size:12px"
                          placeholder="Enter Registration Address." tabindex="12" minlength="5" maxlength="100"
                          [(ngModel)]="reg_add" #regaddressnew="ngModel" id="regaddressup"></textarea>
                        <div class="invalidmsg" *ngIf="regaddressnew.errors?.minlength">
                          Registered Address must be 5 to 80 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_regadd"></span>
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Pin Code No.</label>&nbsp;
                        <span class="mandatory">*</span>
                        <input type="text" class="form-control" style=" font-size:12px" placeholder="Enter Pincode No."
                          tabindex="15 " minlength="3" maxlength="6" [(ngModel)]="pin_code" id="pincodenoup"
                          #pincodeno="ngModel" onkeypress="return isNumberKey(event)">
                        <div class="invalidmsg" *ngIf="pincodeno.errors?.minlength">
                          Pincode must be 4 to 6 digits long.
                        </div>
                        <span class="invalidmsg" id="msg_pincode"></span>
                      </div>
                      <div class="col-lg-3 col-md-3">
                        <label class="indlabel">Remark</label>
                        <span class="mandatory">*</span>
                        <textarea class="form-control" rows="1" style=" font-size:12px" placeholder="Enter Remark."
                          tabindex="12" minlength="5" maxlength="100" [(ngModel)]="CustRemarktext" #custremark="ngModel"
                          id="custremarkup"></textarea>
                        <div class="invalidmsg" *ngIf="custremark.errors?.minlength">
                          Remark must be 5 to 30 characters long.
                        </div>
                        <span class="invalidmsg" id="msg_regadd"></span>
                      </div>
                    </div>
                    <span class="invalidmsg" style="position: absolute;bottom:10px;" id="msg_error_contact"></span>
                  </div>

                  <!-- <div class="actionBar">
                    <button id="save" class="mb-2 btn btn-wizard btn-sm btn-success buttonFinish" (click)="vensaveeditbtn()">
                      <i class="material-icons">save</i>
                    </button>
                    <button id="next" class="mb-2 btn btn-wizard btn-sm btn-primary buttonNext">
                      <i class="material-icons">arrow_forward</i>
                    </button>
                    <button id="prev" class="mb-2 btn btn-wizard btn-sm btn-primary buttonPrevious" onclick="validateAllSteps(4,4)">
                      <i class="material-icons">arrow_back</i>
                    </button>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
          <!-- --------------------------------------------- View Section ------------------------------------------- -->
          <div class="">
            <div id="vendordtls" class="row" style="background-color: #0e2145; border: 1px ridge #02108d;">
              <div class="col-12 col-md-12 col-lg-12">

                <div class="row" style="background-color: rgb(198 201 202);">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="viewheading">Basic Details</div>
                  </div>
                </div><br>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Distributor Id:</span>&nbsp;<span
                        class="viewlable">{{distributor_id}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Dealer Id:</span>&nbsp;<span class="viewlable">{{dealer_id}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Customer Type:</span>&nbsp;<span class="viewlable">{{customer_type}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <!-- <div class="page-subtitle viewheading">Basic Details</div> -->
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Customer Catagory:</span>&nbsp;<span
                        class="viewlable">{{customer_catog}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Company Name:</span>&nbsp;<span class="viewlable">{{company_name}}</span>
                    </div>

                  </div>
                </div>

                <br>

                <div class="row" style="background-color: rgb(198 201 202);">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="viewheading">Contact Details</div>
                  </div>
                </div><br>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Contact Name:</span>&nbsp;<span class="viewlable">{{customer_name}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">State :</span>&nbsp;<span class="viewlable">{{cust_state}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">City:</span>&nbsp;<span class="viewlable">{{cust_city}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Mobile No.:</span>&nbsp;<span class="viewlable">{{cust_mobno}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Alternate No.:</span>&nbsp;<span
                        class="viewlable">{{cust_alt_mobno}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Email:</span>&nbsp;<span class="viewlable">{{cust_email}}</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Area:</span>&nbsp;<span class="viewlable">{{AreaText}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">LandMark:</span>&nbsp;<span class="viewlable">{{landmarkText}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">Reg Address:</span>&nbsp;<span class="viewlable">{{reg_add}}</span>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">PinCode:</span>&nbsp;<span class="viewlable">{{pin_code}}</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-4 col-md-4 col-lg-4" style=" float: left;">
                      <span class="caplable">PinCode:</span>&nbsp;<span class="viewlable">{{pin_code}}</span>
                    </div>

                  </div>
                </div> -->
                <br>






              </div>
              <!-- --------------------- View Section End ------------------------------ -->

            </div>
          </div>
          <!-- <div class="row">
            <button id="revbtn" ngbTooltip="Back" class="mb-2 btn btn-wizard btn-sm btn-primary " (click)="revback()" style="display: none;">
                <i class="material-icons" >arrow_back</i>
              </button>  &nbsp; &nbsp;
            <button id="nextviewbtn" ngbTooltip="Next" class="mb-2 btn btn-wizard btn-sm btn-primary "(click)="viewnext()" style="display: block;">
                <i class="material-icons">arrow_forward</i>
              </button> 
               <button id="next2viewbtn" ngbTooltip="Next" class="mb-2 btn btn-wizard btn-sm btn-primary"(click)="viewnext2()" style="display: none;">
                  <i class="material-icons">arrow_forward</i>
                </button>
                 <button id="rev2btn" ngbTooltip="Back" class="mb-2 btn btn-wizard btn-sm btn-primary " (click)="revback2()" style="display: none;">
                    <i class="material-icons" >arrow_back</i>
                  </button>  
              </div> -->
        </div>
        <!-- --------------------- View Section End ------------------------------ -->

      </div>


      <!-- Modal footer -->

      <div class="modal-footer" style="display: none;" id="modelfooter">
        <div class="container mx-5 row">
        <div class="col-md-7">
          <textarea class="form-control bg-white" style="margin-left: 16px;" rows="1" placeholder="Enter Remark" tabindex="21" minlength="10"
            maxlength="40" id="Remarkvenupdate" [(ngModel)]="remarkText" #remark="ngModel" required
            [ngClass]="{'is-invalid': remark.invalid && submitted }"></textarea>
          <div class="invalidmsg" *ngIf="remark.errors?.minlength">
            Remark must be 10 to 40 characters long.
          </div>

        </div>
        <div class="col-md-5">
        <div class="actionBar" style="margin-right: 5pc;">
          <button id="save" class="mb-2 btn btn-wizard btn-sm btn-success buttonFinish" (click)="vensaveeditbtn()">
            <i class="material-icons">save</i>
          </button>
          <button id="next" class="mb-2 btn btn-wizard btn-sm btn-primary buttonNext">
            <i class="material-icons">arrow_forward</i>
          </button>
          <button id="prev" class="mb-2 btn btn-wizard btn-sm btn-primary buttonPrevious"
            onclick="validateAllSteps(4,4)">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ------------------- view & Edit model close ------------------------ -->
<!-- ------------------ Delete Model Start ------------------------>

<!-- Delete Model-->
<div class="modal fade" id="modeldelete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	red;">
        <h4 class="modal-title text-center" style="color: yellow">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closemodal();">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="background-color: #f0e8e9">

        <div class="form-group row">


          <div class="col-lg-12 col-md-12">
            <label style="color: black">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <textarea class="form-control" rows="2" style=" font-size:12px" placeholder="Enter Remark" tabindex="1"
              minlength="10" maxlength="40" [(ngModel)]="deleteText" #regaddress="ngModel" id="cusdelremark"></textarea>

          </div>

        </div>
        <span class="invalidmsg" id="msg_error_delete">{{successMessageUpdate}}</span>
        <p style="    background-color: yellow;
        /* padding-right: 20px; */
        margin-right: 89px;
        color: red; display: none;">Do You want to Delete !!&hellip;</p>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer text-center" style="background-color: #cfbaa8">
        <button type="submit" class="btndel btn-primary mr-3" data-toggle="modal" data-dismiss="modal" tabindex="18"
          (click)="clearfunction();">
          No
        </button>
        <button type="reset" tabindex="19" class="btndel btn-danger " data-toggle="modal" data-dismiss="modal"
          (click)="CustomerDeletefunction()">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model -->

<!-- ------------------- Delete model End ----------------------- -->

<!-- ------------------- onclick no btn model  ----------------------- -->
<div class="modal fade " id="SuccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal" role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-success m-0 p-0">
          <h5>Success</h5>
        </div>
        <div class="card-body bg-white">
          {{datafromrespo}}
          <div class="text-right">
            <button class="btn btn-sm btn-success" data-dismiss="modal" (click)="closemodal()">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="ErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-sm dialogModal" role="document">
    <div class="modal-content box-shadow">
      <div class="card text-center border-0">
        <div class="card-header bg-warning m-0 p-0">
          <h5>Failed</h5>
        </div>
        <div class="card-body bg-white">
          {{datafromrespo}}
          <div class="text-right pt-3">
            <button class="btn btn-sm btn-success" data-dismiss="modal" (click)="closemodal()">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------------- onclick yes btn model End ----------------------- -->

<app-customerentry></app-customerentry>