<!-- developer:dhammadeep dahiwale
description:user menu management -->

<div class="">
   

    <div class="row form-group">
        <div class="col-md-3">
            <label class="indlabel">Select Role :<span class="text-danger">*</span></label>
            <select class="form-control form-control-sm" (change)="selectUserRole()" [(ngModel)]="role.roleId">
                <option disabled>Select Role</option>
                <option></option>
                <!-- <option>Admin</option> -->
                <option *ngFor="let item of roleLists" value="{{item.param1}}">{{item.param2}} </option>
            </select>
            <span class="text-danger validation" *ngIf="roleIdEmpty">Please enter menu type</span>

        </div>
        <div class="col-md-3" *ngIf="isUserCompany">
            <label class="indlabel"> Select User : <span class="text-danger">*</span></label>
            <select class="form-control form-control-sm" [(ngModel)]="ownersid"
                (change)="selectMenuType();ownerIdEmpty=false">
                <option disabled>Select {{userRole}}</option>
                <option></option>
                <option *ngFor="let item of roleWiseUserList" value="{{item.param1}}">{{item.param2}}</option>
            </select>
            <span class="text-danger validation" *ngIf="ownerIdEmpty">Please enter menu type</span>

        </div>
        <div class="col-md-3">
            <label class="indlabel">Menu Type :<span class="text-danger">*</span></label>
            <select class="form-control form-control-sm" [(ngModel)]="userMenuType"
                (change)="selectUserMenu();menuTypeEmpty =false">
                <option disabled>Menu Type</option>
                <option>Main Menu </option>
                <option> Sub Menu </option>
            </select>
            <span class="text-danger validation" *ngIf="menuTypeEmpty">Please enter menu type</span>

        </div>
        <div class="col-md-3" *ngIf="isUserSubMenu">
            <label class="indlabel">Menu :<span class="text-danger">*</span></label>
            <select class="form-control form-control-sm" [(ngModel)]="userMenu">
                <option></option>
                <option *ngFor="let item of products" value="{{item.param1}}"> {{item.param2}}</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success btn-sm mt-4" (click)="GetMenuRoleWise()">View</button>
        </div>
    </div>

    <div class="" *ngIf="isUserMainMenu">
        <div class="row">
            <div class="col-md-12">
                <h6 style="display: inline; color: #c0f138; font-weight: bold;">Menu List</h6>
                <span style=" font-size: 12px;margin-left: 160px;">Show Rows: </span>
                <div style="display: inline-block; ">
                    <!-- <div style="padding-top: 2px; width: 45px;">
                        <select class="form-control" data-live-search="true" tabindex="1" [(ngModel)]="selectRowsText"
                            (change)="GetMenuRoleWise()" id="selectrow" aria-hidden="true" style=" font-size:12px">
                            <option value="5" selected>5</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div> -->
                </div>
                <form class="form-inline search" style="float: right ;">
                    <input class="form-control form-control-sm" type="search" placeholder="Search"
                        aria-label="Search" />
                    <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
                </form>

                <div  style="max-height: 500px;overflow-y: scroll;width: 100%;">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Menu List</th>
                            <th>Menu Description</th>
                            <th> menu url</th>
                            <th>Select </th>
                            <th>order Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userRoleList" class="trheight">
                            <td id="{{item.rowNumber}}"> {{item.rowNumber}}</td>
                            <td id="menuName{{item.rowNumber}}">{{item.param2}}</td>
                            <td>{{item.param3}}</td>
                            <td>{{item.param4}}</td>
                            <td> <input *ngIf="item.param6=='true'" type="checkbox"
                                    (change)="triggerSomeEvent(item.param1,item.rowNumber)" id="check{{item.rowNumber}}"
                                    [checked]="true">
                                <input *ngIf="item.param6=='false'" type="checkbox"
                                    (change)="triggerSomeEvent(item.param1,item.rowNumber)" id="check{{item.rowNumber}}"
                                    [checked]="false">
                            </td>
                            <td>
                                <!-- <input class="inputNumber" type="number" (change)="checkDuplicate(item.rowNumber)"
                                    id="text{{item.rowNumber}}" [disabled]="isDisabled" value="{{item.param8}}"> -->
                                <!-- <input class="inputNumber" type="number" (change)="checkDuplicate(item.rowNumber)"
                                    id="text{{item.rowNumber}}" [disabled]=  value="{{item.param9}}">  -->
                                    <input class="inputNumber" type="number" id="text{{item.rowNumber}}"
                                        [disabled]="isDisabled" min="1" value="{{item.param6=='true'?item.param5:''}}">
                            </td>
                            <td style="display: none;" id="menuid{{item.rowNumber}}">{{item.param1}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- <span class="text-danger validation" *ngIf="isduplicatevalue">duplicate value found</span> -->
                <div class="text-right">
                    <button class="btn btn-success btn-sm mr-5" [disabled]="isSuccessfullCall"
                        (click)="AssignMenuUserWise(userRoleList)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade " id="updateSuccessModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm dialogModal" role="document">
        <div class="modal-content box-shadow">
            <div class="card text-center border-0">
                <div class="card-header bg-success m-0 p-0">
                    <h5>Success</h5>
                </div>
                <div class="card-body bg-white">
                    Data Saved Successfully
                    <div class="text-right">
                        <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="ErrorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-sm dialogModal" role="document">
        <div class="modal-content box-shadow">
            <div class="card text-center border-0">
                <div class="card-header bg-warning m-0 p-0">
                    <h5>Failed</h5>
                </div>
                <div class="card-body bg-white">
                    Error In Assigning Menus <div class="text-right pt-3">
                        <button class="btn btn-sm btn-success" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>