<div class="login-page" [@routerTransition]>
  <div class="wrapper">
    <div class="content shadow-sm position-relative">
      <header class="header">
        <!-- Fixed navbar -->
        <nav class="container-fluid">
          <div class="row">
            <div class="col align-self-center">
              <a href="" class="logo text-white">
                <img src="assets/images/indgps.png"
                  title="Welcome to IndTrack- India's Leading GPS Solution provider | Vehicle Tracking System | Low Cost GPS Tracking | Sturdy VTS | Tracking On own GIS Map,Bing Map|Fuel Monitoring System"
                  class="logo-icon" />
              </a>
            </div>
          </div>
        </nav>
      </header>
      <div class="background opac blur" style="background-image:url('assets/images/login_pagebg.jpeg')">
      </div>

      <!-- Main container starts -->
      <div class="container main-container" id="main-container">
        <div class="row login-row-height">
          <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
          <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center" style="margin-top: -50px;">
            <div class="card border-0 shadow-lg blur">
              <div class="card-body py-5">
                <img src="assets/images/indlogo.png" class="btn btn-primary  btn-rounded-circle shadow chat-btn"
                  title="Welcome to IndTrack- India's Leading GPS Solution provider | Vehicle Tracking System | Low Cost GPS Tracking | Sturdy VTS | Tracking On own GIS Map,Bing Map|Fuel Monitoring System" />


                <!-- <p class="font-weight-normal welcometext margin-bottom:20px">Forgot Password </p> -->
                <p class="font-weight-normal text-warning mb-4" style="color: rgb(230, 245, 98) !important;
                                  font-size: 17px;font-weight: bold !important;">Change Password</p>



                <p class="font-weight-normal text-warning mb-4" style="color: #fff !important;font-size: 14px;">
                hello  {{changePassword.loginId}}</p>

                <div>
                  <form novalidate #changePasswordForm="ngForm" (ngSubmit)="ChangePassword()">
                    <div class="field-wrapper">
                      <input type="text" name="name" [(ngModel)]="changePassword.currentPassword"
                        #currentPasswordCtrl="ngModel" placeholder="Enter Current Password" required>
                      <span class="text-danger"
                        *ngIf="(currentPasswordCtrl.touched || submitted) && currentPasswordCtrl.errors?.required">
                        current password is required </span>

                      <input type="text" name="otp" [(ngModel)]="changePassword.otp" placeholder="Enter otp"
                        #otpCtrl="ngModel" required class="mt-3 " required>
                      <span class="text-danger " *ngIf="(otpCtrl.touched || submitted) && otpCtrl.errors?.required">
                        otp is required</span>

                      <input type="text" name="newPassword" [(ngModel)]="changePassword.newPassword" class="mt-3"
                        #newPasswordCtrl="ngModel" placeholder="Enter New Password" required>
                      <span class="text-danger "
                        *ngIf="(newPasswordCtrl.touched || submitted) && newPasswordCtrl.errors?.required">
                        new password is required</span>

                      <input type="text" name="newPassword" [(ngModel)]="changePassword.cPassword" class="mt-3"
                        #cPasswordCtrl="ngModel" placeholder="confirm new password Password" required>
                      <span class="text-danger "
                        *ngIf="(cPasswordCtrl.touched || submitted) && cPasswordCtrl.errors?.required">
                        confirm password is required</span>
                    </div>

                    <div class="mb-1">
                      <button type="submit" class=" btn btn-success btn-block" (click)="ChangePassword()">Change
                        password
                        <i class="material-icons md-18">arrow_forward</i></button>
                    </div>
                  </form>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main container ends -->
    </div>
    <footer class="footer d-block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md text-center text-md-left align-self-center">
            <p>All rights reserved by <a href="">IndTrack</a></p>
          </div>
          <div class="col-12 col-md-auto text-center text-md-right">
            <ul class="nav justify-content-center justify-md-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">Terms of use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- reset alert -->
<div class="modal fade" id="modeldelete">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="background-color: 	#FF7F50;">
        <!-- <h4 class="modal-title text-center" style="color: white">Are You Sure?</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-lg-12 col-md-12">
            <label class="indlabel">Remark</label>&nbsp;
            <span class="indlabelstar">*</span>
            <p>Reset URL has been sent to your registered email or mobile number</p>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer text-center">
        <button type="submit" class="btndel btn-primary mr-3" tabindex="18">
          OK
        </button>
      </div>

    </div>
  </div>
</div>
<!-- reset alert -->